## 0ï¸âƒ£ Overview

#### ë¨¸ì‹ ëŸ¬ë‹ì˜ í•™ìŠµ ë°©ë²•ë“¤

- Gradient descent based learning

- Probability theory based learning

- <span style = 'background-color :#ffdce0' >Information theory based learning</span>  
    : ì´ ë°©ë²•ì„ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ Decision Tree  
    
    Ex) Akinator : ìŠ¤ë¬´ê³ ê°œë¡œ ìœ ëª…ì¸, ìºë¦­í„°ë¥¼ ë§ì¶”ëŠ” ê²Œì„, íŠ¸ë¦¬í˜•íƒœë¡œ êµ¬ì„±ë˜ì–´ ìˆìŒ
    
- Distance simlarity based learning

### âœ” Decision Tree Classifier
- Dataë¥¼ ê°€ì¥ ì˜ êµ¬ë¶„í•  ìˆ˜ ìˆëŠ” Treeë¥¼ êµ¬ì„±í•¨
- Data Yì— ë”°ë¼ì„œ Yë¥¼ ì˜ í‘œí˜„í•  ìˆ˜ ìˆëŠ” íŠ¸ë¦¬ë¥¼ êµ¬ì„±í•´ì„œ ë¶„ë¥˜í•´ë‚˜ê°€ëŠ” ê¸°ë²•

### âœ” Decision Tree ë§Œë“¤ê¸°
- ì–´ë–¤ ì§ˆë¬¸(Attribute)ì´ ê°€ì¥ ë§ì€ í•´ë‹µ(Y)ì„ ì¤„ ê²ƒì¸ê°€?
- ê²°êµ­ ì–´ë–¤ ì§ˆë¬¸ì€ ë‹µì˜ ëª¨í˜¸ì„±ì„ ì¤„ì—¬ì¤„ ê²ƒì¸ê°€?
- ë¬¸ì œë¥¼ í†µí•´ì„œ splitting pointì„ ì„¤ì •  
    -> ë‚¨ì€ ì •ë³´ë¡œ splitting pointë¥¼ ì„¤ì •í•˜ëŠ” ì‹

Ex) ëª¨í˜¸ì„±ì„ ì¤„ì—¬ì£¼ëŠ” ì˜ˆì‹œ  
- ë‹µì´ ë”±ë”± ë‚˜ëˆ„ì–´ ë–¨ì–´ì§ => ëª¨í˜¸ì„±ì„ ì¤„ì—¬ì¤Œ
- ì •í™•í•œ ì„±ëŠ¥ì„ ë‚˜íƒ€ë‚¼ ìˆ˜ ìˆëŠ” Tree

![ex1](./img/Ex1.PNG)

## 1ï¸âƒ£ Information theory - Entropy

### âœ” Entropy
- ëª©ì  ë‹¬ì„±ì„ ìœ„í•œ ê²½ìš°ì˜ ìˆ˜ë¥¼ ì •ëŸ‰ì ìœ¼ë¡œ í‘œí˜„í•˜ëŠ” ìˆ˜ì¹˜  
    $\Rightarrow$ ì‘ì„ ìˆ˜ë¡ ê²½ìš°ì˜ ìˆ˜ê°€ ì ìŒ

- Higher $\uparrow$  Entropy $\Rightarrow$ Higher uncertainty ë¶ˆí™•ì‹¤ì„± ì¦ê°€ $\uparrow$
- Lower $\downarrow$ Entropy $\Rightarrow$ Lower uncertainty ë¶ˆí™•ì‹¤ì„± ê°ì†Œ $\downarrow$

<span style = 'color : red'>Entropyê°€ ì‘ìœ¼ë©´ ì–»ì„ ìˆ˜ ìˆëŠ” ì •ë³´ê°€ ë§ë‹¤, ëª…í™•í•˜ë‹¤</span>

- $p_i$ê°€ í´ìˆ˜ë¡ ì‚¬ê±´ì´ ì¼ì–´ë‚  í™•ë¥ ì´ ëª…í™•í•˜ë‹¤

##### $ h(D) = -\sum_{i=1}^m p_i log_2(p_i)$

h(D)ì˜ ê°’ì´ 0ì— ê°€ê¹Œì›Œì§€ë©´ EntropyëŠ” $\downarrow$  
$\Rightarrow$ ë¶ˆí™•ì‹¤ì„±ì´ $\downarrow$

í™•ë¥ ì´ 1 $\rightarrow$ Entropy = 0  
í™•ë¥ ì´ ì‘ì„ìˆ˜ë¡ EntropyëŠ” ì»¤ì§„ë‹¤  

![Entropy](./img/Entropy.PNG)

Ex) $m$ = 1,2,3  
$p_1 = 1$ $\Rightarrow$ $p_2 = p_3 = 0$  

$\Rightarrow$ h(D)ì—ëŠ” $p_1$ë§Œ ë‚¨ê²Œë˜ê³ , $h(D) = - p_1 log_2(p_1)$ 

ì´ë•Œ, $log_2(p_1) = 0, -log_2(p_i) = 0 \Rightarrow h(D) = 0$  
$\Rightarrow$ Lower Entropy, Lower uncertainty

âš  $p_i$ì˜ ê°’ì´ ë‹¤ì–‘í•  ê²½ìš° $-log_2(p_i)$ì˜ ê°’ì€ ì¦ê°€ $\uparrow$  
$\Rightarrow$ ë¶ˆí™•ì‹¤ì„± $\uparrow$

Ex) No : 5ê°œ, Yes : 9ê°œ  

$\rightarrow h(D) = -\frac{9}{14} log_2\frac{9}{14} + -\frac{5}{14} log_2\frac{5}{14}  
= 0.940bits $

In [1]:
import numpy as np

In [2]:
x = np.array([9/14, 5/14])
y = np.log2(x)

-sum(x*y)

0.9402859586706311

## 2ï¸âƒ£ Algorithms of Decision Tree
- Decision Tree ë§Œë“œëŠ” ê²ƒì„ ì‹œí‚¤ëŠ” ì•Œê³ ë¦¬ì¦˜ í•„ìš”

- ì–´ë–»ê²Œ í•˜ë©´ ê°€ì¥ ì˜ ë¶„ê¸°(branch)ë¥¼ ë§Œë“¤ìˆ˜ ìˆëŠ”ê°€?

- Dataì˜ attributeë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë¶„ê¸° ìƒì„± (ì–´ë–¤ê¸°ì¤€ìœ¼ë¡œ ë‚˜ëˆŒì§€)

- ì–´ë–¤ attributeë¥¼ ê¸°ì¤€ìœ¼ë¡œ í–ˆì„ ë•Œ ê°€ì¥ Entropyê°€ ì‘ì€ê°€?

- í•˜ë‚˜ë¥¼ ìë¥¸ í›„ì— ê·¸ ë‹¤ìŒì€ ì–´ë–»ê²Œ í•  ê²ƒì¸ê°€? 

- Decision TreeëŠ” ì¬ê·€ì ìœ¼ë¡œ ìƒê¹€  
: í° Attributeì—ì„œ sub attributeë¡œ ë‚˜ëˆ”

- ëŒ€ì‚° ë¼ë²¨ì— ëŒ€í•´ ì–´ë–¤ Attributeê°€ ë” í™•ì‹¤í•œ ì •ë³´ë¥¼ ì œê³µí•˜ê³  ìˆëŠ”ê°€?ë¡œ branch attributeë¥¼ ì„ íƒ

- í™•ì‹¤í•œ ì •ë³´ì˜ ì„ íƒ ê¸°ì¤€ì€ ì•Œê³ ë¦¬ì¦˜ ë³„ë¡œ ì°¨ì´ ë°œìƒ

- Tree ìƒì„± í›„ pruningì„ í†µí•´ Tree generalization ì‹œí–‰  
( pruning : Overfittingì„ ë°©ì§€í•˜ê¸° ìœ„í•´ ê°€ì§€ì¹˜ê¸°í•˜ëŠ” ê±° )

- ì¼ë°˜ì ìœ¼ë¡œ íš¨ìœ¨ì„ ìœ„í•´ Binary Tree ì‚¬ìš©

### âœ” Decision Treeì˜ íŠ¹ì§•
- ë¹„êµì  ê°„ë‹¨, <span style = 'color : blue'>ì§ê´€ì ìœ¼ë¡œ ê²°ê³¼ í‘œí˜„</span>
- í›ˆë ¨ì‹œê°„ì´ ê¸¸ê³  ë©”ëª¨ë¦¬ ê³µê°„ì„ ë§ì´ ì‚¬ìš©
- Top-down, Recursive, Divide and Conquer ê¸°ë²•  
Top-down : ìœ„ì—ì„œ ì•„ë˜ë¡œ ë‚´ë ¤ê°€ëŠ” êµ¬ì¡°  
Recursive : ì¬ê·€ì    
Divide and Conquer : ë‚˜ëˆˆ í›„ì— ë˜ ë‹¤ì‹œ ë‚˜ëˆ„ëŠ” êµ¬ì¡°  

- Greedy ì•Œê³ ë¦¬ì¦˜ $\rightarrow$ ë¶€ë¶„ ìµœì í™”  
: ì „ì²´ optimizationì´ ì•„ë‹Œ í˜„ì¬ì˜ optimizationì„ ì°¾ìŒ  
Ex) ì£¼í™©ì—ì„œë„ ìµœì í™”, íŒŒë‘ì—ì„œë„ ìµœì í™”ë¨

![ex2](./img/Ex2.png)

### ğŸ’â€â™€ï¸ Decision Treeì˜ ì¥ì 
- íŠ¸ë¦¬ì˜ ìƒë‹¨ ë¶€ë¶„ attributeë“¤ì´ ê°€ì¥ ì¤‘ìš”í•œ ì˜ˆì¸¡ë³€ìˆ˜  
$\Rightarrow$ attribute ì„ íƒ ê¸°ë²•ìœ¼ë¡œë„ í™œìš© ê°€ëŠ¥

- Attributeì˜ scaling í•„ìš” X
- ê´€ì¸¡ì¹˜ì˜ ì ˆëŒ€ê°’ì´ ì•„ë‹Œ ìˆœì„œê°€ ì¤‘ìš”  
$\Rightarrow$ Outlierì— ì´ì   
(Outlier : ì •ê·œë¶„í¬ì—ì„œ ì–‘ê·¹ë‹¨ì— ìˆëŠ” ê±°)

- ìë™ì  ë³€ìˆ˜ ë¶€ë¶„ ì„ íƒ $\Leftarrow$ Tree Pruning 

### âœ” Algorithms of Decision Tree
- í¬ê²Œ ë‘ê°€ì§€ í˜•íƒœì˜ decision tree ì•Œê³ ë¦¬ì¦˜ ì¡´ì¬  
    : 1. ID3, 2. CART

- ì•Œê³ ë¦¬ì¦˜ ë³„ attribute branch ë°©ë²•ì´ ë‹¤ë¦„
- ID3 $\rightarrow$ C4.5(Ross Quinlan), CART
- ì—°ì†í˜• ë³€ìˆ˜ë¥¼ ìœ„í•œ regression treeë„ ì¡´ì¬

## 3ï¸âƒ£ ID3 & Information Gain

### âœ” Information Gain
- Entropy í•¨ìˆ˜ë¥¼ ë„ì…í•˜ì—¬ branch splitting
- Information Gain  
: Entropyë¥¼ ì‚¬ìš©í•˜ì—¬ ì†ì„±ë³„ ë¶„ë¥˜ì‹œ Impurityë¥¼ ì¸¡ì •í•˜ëŠ” ì§€í‘œ

- (ì „ì²´ Entropy - ì†ì„±ë³„ Entropy)ë¡œ ì†ì…©ë³„ Information Gainì„ ê³„ì‚°  
ì†ì„±ë³„ Entropy $\uparrow$ $\Rightarrow$ ë³µì¡ë„ $\uparrow$  

$\Rightarrow$ ì†ì„±ë³„ Entropyê°€ $\downarrow$ ì†ì„±ì„ ì„ íƒí•´ì„œ ë¶„ê¸°   
(ê°€ì¥ ëª…í™•í•˜ê²Œ ë°ì´í„°ë¥¼ ë‚˜ëˆŒ ìˆ˜ ìˆìŒ)

#### <span style = 'color : green'> ì „ì²´ ë°ì´í„° Dì˜ ì •ë³´ëŸ‰ ( ì „ì²´ Information Gain )</span>
#### $Info(D) = -\sum_{i=1}^n P_i log_2(p_i)$

#### <span style = 'color : green'> ì†ì„± Aë¡œ ë¶„ë¥˜ì‹œ ì •ë³´ëŸ‰ ( ì†ì„± Aì˜ Information Gain )</span>
#### $Info_A(D) = -\sum_{j=1}^v  \frac{\vert D_j \vert}{D} * Info(D_j)$
( j : ì†ì„± Aì˜ label,  Ex) j = red, blue )

#### <span style = 'color : green'> ì†ì„± Aì˜ ì •ë³´ ì†Œë“ </span>
#### <span style = 'background-color :#ffdce0' > $ Gain(A) = Info(D) - Info_A(D) $ </span>

$Gain(A) \downarrow $  
$\Rightarrow Info_A(D) \uparrow$   
$\Rightarrow$ ë³µì¡ë„ $\uparrow$  

$\Rightarrow Info_A(D)$ê°€ ê°€ì¥ $\downarrow$ , $Gain(A)\uparrow$ ì„ íƒ

```
if ë°ì´í„° ì§‘í•©ì— ìˆëŠ” ëª¨ë“  ì•„ì´í…œì´ ê°™ì€ ë¼ë²¨ì„:
    ë¶„ë¥˜ í•­ëª© í‘œì‹œë¥¼ ë°˜í™˜ (Ex : buy_yes)

else:
    Find Best spllit_branch_attribute (Ex : attribute - age)
    í•´ë‹¹ Attributeë¥¼ ê¸°ì¤€ìœ¼ë¡œ dataset ë¶„í• 
    Branch node ìƒì„±
        for each Branch
            branch_node.add(Recursive branch split)
    return branch node
```

### âœ” Growing a Decsion Tree

#### [ Age ] ğŸ‘¶ğŸ§‘ğŸ‘§ğŸ‘µ
#####  **$Gain(age)$** $= Info(D) - Info_{age}(D)$
##### **$Info_{age}(D)$** $= -\sum_{j=1}^v  \frac{\vert D_j \vert}{D} * Info(D_j)$

$ j \ni$ {youth, middle_age, senior}

Ex) $D_j$ : $ D_{youth} $= 5ëª…, middle_age : 4ëª…, senior   : 5ëª…

##### **$Info_{age}(D)$**
##### = $\frac{5}{14} * (\frac{2}{5} log_2 \frac{2}{5} - \frac{3}{5} log_2 \frac{3}{5}) $ ;  ageê°€ youthì¸ 5ëª… ì¤‘ yes : 2ëª…, No : 3ëª…
##### $+ \frac{4}{14} * (\frac{4}{4} log_2 \frac{4}{4} ) $
##### $+ \frac{5}{14} * (\frac{3}{5} log_2 \frac{3}{5} - \frac{2}{5} log_2 \frac{2}{5}) $

##### **$Info(D)$** $= -\frac{9}{14}(log_2 \frac{9}{14}) -\frac{5}{14}(log_2 \frac{5}{14})$

#### [ Credit ] ğŸ’³
$Gain(Credit) = Info(D) - Info_{Credit}(D)$

#### [ Income ] ğŸ’µğŸ’´ğŸ’¶
$Gain(Income) = Info(D) - Info_{Income}(D)$

#### [ Student ] ğŸ‘©â€ğŸ“ğŸ‘¨â€ğŸ“
$Gain(Student) = Info(D) - Info_{Student}(D)$

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd_data = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
pd_data.drop('RID', axis = 1)
pd_data

    RID          age  income student credit_rating class_buys_computer
0     1        youth    high      no          fair                  no
1     2        youth    high      no     excellent                  no
2     3  middle_aged    high      no          fair                 yes
3     4       senior  medium      no          fair                 yes
4     5       senior     low     yes          fair                 yes
5     6       senior     low     yes     excellent                  no
6     7  middle_aged     low     yes     excellent                 yes
7     8        youth  medium      no          fair                  no
8     9        youth     low     yes          fair                 yes
9    10       senior  medium     yes          fair                 yes
10   11        youth  medium     yes     excellent                 yes
11   12  middle_aged  medium      no     excellent                 yes
12   13  middle_aged    high     yes          fair                 yes
13   14       senior  medium      no     excellent                  no

In [3]:
buy = pd_data.loc[pd_data['class_buys_computer'] == 'yes']
not_buy = pd_data.loc[pd_data['class_buys_computer'] == 'no']

In [6]:
buy

    RID          age  income student credit_rating class_buys_computer
2     3  middle_aged    high      no          fair                 yes
3     4       senior  medium      no          fair                 yes
4     5       senior     low     yes          fair                 yes
6     7  middle_aged     low     yes     excellent                 yes
8     9        youth     low     yes          fair                 yes
9    10       senior  medium     yes          fair                 yes
10   11        youth  medium     yes     excellent                 yes
11   12  middle_aged  medium      no     excellent                 yes
12   13  middle_aged    high     yes          fair                 yes

In [7]:
not_buy

    RID     age  income student credit_rating class_buys_computer
0     1   youth    high      no          fair                  no
1     2   youth    high      no     excellent                  no
5     6  senior     low     yes     excellent                  no
7     8   youth  medium      no          fair                  no
13   14  senior  medium      no     excellent                  no

In [9]:
x = np.array([len(buy) / len(pd_data), len(not_buy) / len(pd_data)])
y = np.log2(x)

info_all = -sum( x * y)

x, y, info_all

(array([0.64285714, 0.35714286]),
 array([-0.63742992, -1.48542683]),
 0.9402859586706311)

$Info(D)$ í•¨ìˆ˜í™” í•´ë³´ê¸°

In [5]:
def get_info(df):
    buy = df.loc[df['class_buys_computer'] == 'yes']
    not_buy = df.loc[df['class_buys_computer'] == 'no']
    x = np.array([len(buy) / len(df), len(not_buy) / len(df)])
    y = np.log2(x[x!=0])

    info_all = -sum( x[x!=0] * y)
    return info_all

In [10]:
get_info(pd_data)

0.9402859586706311

Attribute ë³„ information gain êµ¬í•˜ê¸°

In [18]:
youth = pd_data.loc[pd_data['age'] == 'youth']
senior = pd_data.loc[pd_data['age'] == 'senior']
middle_aged = pd_data.loc[pd_data['age'] == 'middle_aged']

In [12]:
youth

    RID    age  income student credit_rating class_buys_computer
0     1  youth    high      no          fair                  no
1     2  youth    high      no     excellent                  no
7     8  youth  medium      no          fair                  no
8     9  youth     low     yes          fair                 yes
10   11  youth  medium     yes     excellent                 yes

age = youthì¼ ë•Œì˜ Entropy

In [15]:
get_info(youth)

0.9709505944546686

In [13]:
senior

    RID     age  income student credit_rating class_buys_computer
3     4  senior  medium      no          fair                 yes
4     5  senior     low     yes          fair                 yes
5     6  senior     low     yes     excellent                  no
9    10  senior  medium     yes          fair                 yes
13   14  senior  medium      no     excellent                  no

In [16]:
get_info(senior)

0.9709505944546686

In [19]:
middle_aged

    RID          age  income student credit_rating class_buys_computer
2     3  middle_aged    high      no          fair                 yes
6     7  middle_aged     low     yes     excellent                 yes
11   12  middle_aged  medium      no     excellent                 yes
12   13  middle_aged    high     yes          fair                 yes

In [20]:
get_info(middle_aged)

-0.0

ê° ì†ì„±ë³„ Entropy í•¨ìˆ˜í™”í•˜ê¸°

In [21]:
def get_attribute_info(df, attribute_name) :
    # Ex) attribute_name : age
    
    attribute_values = df[attribute_name].unique()
    # attribute_values = youth, middle_age, senior
    print(attribute_values)
    
    get_infos = []

    for value in attribute_values:
        split_df = df.loc[df[attribute_name] == value]

        get_infos.append( (len(split_df) / len(df)) * get_info(split_df))

    return sum(get_infos)

In [22]:
get_attribute_info(pd_data, 'age')

['youth' 'middle_aged' 'senior']

0.6935361388961918

### ìµœì¢…ì ìœ¼ë¡œ Information Gainì˜ ê°’
$ Gain(age) = Info(D) - Info_{age}(D) $

In [23]:
get_info(pd_data) - get_attribute_info(pd_data, 'age')

['youth' 'middle_aged' 'senior']

0.24674981977443933

$ Gain(credit) = Info(D) - Info_{credit}(D) $

In [27]:
get_info(pd_data) - get_attribute_info(pd_data, 'credit_rating')

['fair' 'excellent']

0.04812703040826949

$ Gain(income) = Info(D) - Info_{income}(D) $

In [24]:
get_info(pd_data) - get_attribute_info(pd_data, 'income')

['high' 'medium' 'low']

0.02922256565895487

$ Gain(student) = Info(D) - Info_{student}(D) $

In [25]:
get_info(pd_data) - get_attribute_info(pd_data, 'student')

['no' 'yes']

0.15183550136234159

ìœ„ì˜ 4ê°€ì§€ ì†ì„± ì¤‘ ê°€ì¥ í° Gainì˜ AttributeëŠ” Ageì¸ ê²ƒì„ ë³¼ ìˆ˜ ìˆë‹¤.  
= Ageì˜ Entropyê°€ ê°€ì¥ ì‘ë‹¤ = í—·ê°€ë¦¬ëŠ” ê²ƒì´ ì‘ë‹¤. = ë¨¼ì € ë¶„ë¥˜í•  Attribute

ë¨¼ì €, Age Attributeë¥¼ ê¸°ì¤€ìœ¼ë¡œ branch

![branch](https://ifh.cc/g/JXRamt.jpg)

ë‹¤ìŒìœ¼ë¡œëŠ” youthë¥¼ ê¸°ì¤€ìœ¼ë¡œ branch, senior ê¸°ì¤€ìœ¼ë¡œ branch  

ìœ„ì™€ ë˜‘ê°™ì€ ë°©ì‹ìœ¼ë¡œ youthë¥¼ ê¸°ì¤€ìœ¼ë¡œ branch í•´ë³´ì

In [28]:
youth = pd_data.loc[pd_data['age'] == 'youth']
youth

    RID    age  income student credit_rating class_buys_computer
0     1  youth    high      no          fair                  no
1     2  youth    high      no     excellent                  no
7     8  youth  medium      no          fair                  no
8     9  youth     low     yes          fair                 yes
10   11  youth  medium     yes     excellent                 yes

In [29]:
get_info(youth) - get_attribute_info(youth, 'income')

['high' 'medium' 'low']

0.5709505944546686

In [30]:
get_info(youth) - get_attribute_info(youth, 'student')

['no' 'yes']

0.9709505944546686

In [31]:
get_info(youth) - get_attribute_info(youth, 'credit_rating')

['fair' 'excellent']

0.01997309402197489

income, student, credit_ratingì˜ information Gain ì¤‘ ê°€ì¥ í° ê°’ì„ ê°€ì§€ëŠ” AttributeëŠ” studentì´ë‹¤. 

$\Rightarrow$ Studentë¥¼ ê¸°ì¤€ìœ¼ë¡œ branch

![branch1](./img/branch1.PNG)

ì˜ ë‚˜ëˆ ì¡Œìœ¼ë¯€ë¡œ senior ê¸°ì¤€ìœ¼ë¡œ ë‹¤ì‹œ branch

## 4ï¸âƒ£ C4.5 & Gini Index

### âœ” Information Gainì˜ ë¬¸ì œì 
- ì–´ë–¤ Attributeì— í¬í•¨ëœ ê°’ì´ ë‹¤ì–‘í•  ìˆ˜ë¡ ì„ íƒë˜ê³ ì í•¨

ì´ê²Œ ë¬´ìŠ¨ ë§ì´ëƒë©´   

ì˜ˆë¥¼ ë“¤ì–´ì„œ ageë¼ëŠ” Attributeì— 1~100ê¹Œì§€ ëª¨ë‘ í•˜ë‚˜ì”© ìˆë‹¤ê³  í•´ë³´ì   

ê·¸ëŸ¬ë©´ $Info_A(D)$ì˜ ì‹ì—ì„œ $\frac{\vert D_j \vert}{\vert D \vert}$ê°€ ì‘ì€ ê°’ì„ ê°€ì§€ê²Œ ë  ê²ƒì´ë‹¤.  

$\Rightarrow Info_A(D) \downarrow \Rightarrow Gain(A) \uparrow$  

##### $Gain(A) = info(D) - Info_A(D)$
##### $Info_A(D) = \sum_{j=1}^v \frac{\vert D_j \vert}{\vert D \vert} * Info(D_j)$
##### $Info(D) = - \sum_{i=1}^n p_i log_2 (p_i)$

- í•œ Attributeê°€ ëª¨ë‘ ë‹¤ë¥¸ ê°’ì„ ê°€ì§ˆ ë•Œ   
<span style = 'color : red'>ë³´ì™„ì„ í•´ì¤„ ë‹¤ë¥¸ Measure í•„ìš”</span>

### âœ” Gain Ratio
- ID3ì˜ ë°œì „í˜•ì¸ C4.5 ì•Œê³ ë¦¬ì¦˜ì—ì„œ ì‚¬ìš©ë˜ëŠ” measure
- Info(D)ì˜ ê°’ì„ í‰ì¤€í™”ì‹œì¼œ ë¶„í•  ì •ë³´ ê°’ì„ ëŒ€ì‹  ì‚¬ìš©
- ê°’ì´ ë‹¤ì–‘í•  ìˆ˜ë¡ weightë¥¼ ì¤˜ penalty ë¶€ì—¬

##### $ splitInfo_A(D) = -\sum_{j=1}^v \frac{\vert D_j \vert}{\vert D \vert} * (log_2 \frac{\vert D_j \vert}{\vert D \vert})$
##### $ GainRatio(A) = \frac{Gain(A)}{SplitInfo_A(D)} = \frac{Info(D) - Info_A(D)}{SplitInfo_A(D)} $

![c4](./img/c4.PNG)

Ex) $SplitInfo_A(D)$  

ì´ ë°ì´í„° 14ê°œ ì¤‘ì—ì„œ j = 1ì¸ ë°ì´í„°ì˜ ê°œìˆ˜ê°€ 2ê°œì¸ ê²½ìš°  

$\frac{\vert D_j \vert}{\vert D \vert}$ëŠ” ì‘ì„ ê²ƒì´ê³ ,  - $log_2 \frac{\vert D_j \vert}{\vert D \vert}$ëŠ” í´ ê²ƒì´ë‹¤.  

(ìœ„ì˜ ê·¸ë˜í”„ë¥¼ ë³´ë©´ $p_i$ê°€ ì‘ì•„ì§ˆìˆ˜ë¡ $-log_2(p_i)$ê°€ ì»¤ì§€ëŠ” ê²ƒì„ ë³¼ ìˆ˜ ìˆë‹¤.)

$\Rightarrow$ ì´ëŸ° ê²½ìš° $splitInfo_A(D)$ì˜ ê°’ì´ ì»¤ì§€ê²Œ ë˜ë©° $GainRatio(A)$ì˜ ê°’ì€ ì‘ì•„ì§ˆ ê²ƒì´ë‹¤.


<span style = 'background-color : #f5f0ff'>$SplitInfo_A(D) \uparrow \ \Rightarrow GainRatio(A) \downarrow  \ \Rightarrow SplitInfo_A(D) : Penalty$ </span>

### âœ” Gini Index
- CART ì•Œê³ ë¦¬ì¦˜ì˜ split measure
- í›ˆë ¨ íŠœí”Œ ì„¸íŠ¸ë¥¼ íŒŒí‹°ì…˜ì„ ë‚˜ëˆ„ì—ˆì„ë•Œ ë¶ˆìˆœí•œ ì •ë„ë¥¼ ì¸¡ì •
##### $Gini(D) = 1 - \sum_{i=1}^m p_i^2 = 1 - \sum_{i=1}^m \frac{\vert C_{i,D} \vert}{\vert D \vert}$
where $C_i$ is a class

- class ë³„ë¡œ ë°ì´í„° ê°œìˆ˜ êµ¬í•´ì„œ í•˜ëŠ” ë°©ì‹

- ë°ì´í„°ì˜ ëŒ€ìƒ ì†ì„±ì„ ì–¼ë§ˆë‚˜ ì˜ëª» ë¶„ë¥˜í• ì§€ë¥¼ ê³„ì‚°

- ì‹¤ì œ Gini IndexëŠ” Entropyì™€ ë¹„ìŠ·í•œ ê·¸ë˜í”„ê°€ ê·¸ë ¤ì§

- 0.5ì¼ ë•Œ Impurityì˜ ìµœëŒ€í™”, ì•½ ê·¹ì ì—ì„œ 0

##### $ Gini(D) = \sum_{i=1}^m p_i (1-p_i) = 1 - \sum_{i=1}^m p_i^2  $

![Gini](./img/Gini.PNG)

### âœ” <span style = 'background-color : #ffdce0'> Binary Split </span>
: ì»´í“¨í„°ê°€ searchingì„ ì˜ í•  ìˆ˜ ìˆëŠ” ë°©ë²• ì¤‘ í•˜ë‚˜

- CART ì•Œê³ ë¦¬ì¦˜ì€ Binary Splitì„ ì „ì œë¡œ ë¶„ì„


    ì´ê²Œ ë¬´ìŠ¨ ë§ì´ëƒ

    Ex) category dataê°€ youth, middle, seniorë¡œ êµ¬ë¶„ë  ë•Œ  

    youthì™€ ë‚˜ë¨¸ì§€ /  middleê³¼ ë‚˜ë¨¸ì§€ / seniorì™€ ë‚˜ë¨¸ì§€ë¡œ ê°ê° 3ê°œì˜ binary splitì„ í•´ì„œ êµ¬í•˜ëŠ” ë°©ì‹
  
    ê·¸ë ‡ë‹¤ë©´ ì•„ë˜ì˜ ì‹ì—ì„œ AëŠ” youth, middle, seniorë¥¼ ëœ»í•˜ë©° ì´ 3ê°œì˜ Giniì˜ ê°’ì´ ë‚˜ì˜¬ê²ƒì´ë‹¤.   
    

- kê°€ ì†ì„± ë‚´ ë°ì´í„° ë¶„ë¥˜ì˜ ê°œìˆ˜ì¼ ë•Œ $2^{k-1} - 1$ê°œ ë§Œí¼ì˜ Split ìƒì„±

    $ \Rightarrow $ C4.5ì— ë¹„í•´ ë§ì€ splitì´ ìƒê¹€

##### $ Gini_A(D) = \frac{\vert D_1 \vert}{\vert D \vert }Gini(D_1) +  \frac{\vert D_2 \vert}{\vert D \vert }Gini(D_2) $

-  <span style = 'color : purple'> Gini ê°’ì´ ê°€ì¥ ì‘ì€ ë¶„ë¥˜ë¥¼ ì„ íƒ</span>

### Growing a CART Decision Tree

#### **[ Age ]**
$ Gini_{age}(D)$ $age \in $ {youth, middle_age, senior}  

![gini_age](./img/Gini_Age.PNG)

##### ì„¸ ê°€ì§€ ê²½ìš°ì˜ ëª¨ë“  Gini Index ì‚°ì¶œ

$age_1 \in $ {youth} = {middle_age, senior}  
$age_2 \in $ {middle_age} = {youth, senior}  
$age_3 \in $ {senior} = {youth, middle_age}  

##### $ Gini_A(D) = \frac{\vert D_1 \vert}{\vert D \vert }Gini(D_1) +  \frac{\vert D_2 \vert}{\vert D \vert }Gini(D_2) $

##### Ex) youthì™€ ë‚˜ë¨¸ì§€ë¥¼ Binary Split í–ˆì„ ê²½ìš° 
$\Rightarrow \ age_1$ : youth = 5ëª…, ë‚˜ë¨¸ì§€ : 9ëª… 

##### $ Gini_{age_1} = \frac{5}{14}Gini(D_1) +  \frac{9}{14}Gini(D_2) $  

$ Gini(D_1)$ : youth ì¤‘ yes = 2ëª… , no = 3ëª…

##### $ Gini(D_1) = 1 - (\frac{3}{5})^2 - (\frac{2}{5})^2 $  

$ Gini(D_2) $ : ë‚˜ë¨¸ì§€ ì¤‘ yes : 7ëª…, no : 2ëª…

##### $ Gini(D_2) = 1 - (\frac{7}{9})^2 - (\frac{2}{9})^2 $

#### **[ Credit ]**
$ Gini_{credit}(D) $

#### **[ Income ]**
$ Gini_{income}(D) $

#### **[ Student ]**
$ Gini_{student}(D) $