## 0ï¸âƒ£ Overview

#### ë¨¸ì‹ ëŸ¬ë‹ì˜ í•™ìŠµ ë°©ë²•ë“¤

- Gradient descent based learning

- Probability theory based learning

- <span style = 'background-color :#ffdce0' >Information theory based learning</span>  
    : ì´ ë°©ë²•ì„ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ Decision Tree  
    
    Ex) Akinator : ìŠ¤ë¬´ê³ ê°œë¡œ ìœ ëª…ì¸, ìºë¦­í„°ë¥¼ ë§ì¶”ëŠ” ê²Œì„, íŠ¸ë¦¬í˜•íƒœë¡œ êµ¬ì„±ë˜ì–´ ìˆìŒ
    
- Distance simlarity based learning

### âœ” Decision Tree Classifier
- Dataë¥¼ ê°€ì¥ ì˜ êµ¬ë¶„í•  ìˆ˜ ìˆëŠ” Treeë¥¼ êµ¬ì„±í•¨
- Data Yì— ë”°ë¼ì„œ Yë¥¼ ì˜ í‘œí˜„í•  ìˆ˜ ìˆëŠ” íŠ¸ë¦¬ë¥¼ êµ¬ì„±í•´ì„œ ë¶„ë¥˜í•´ë‚˜ê°€ëŠ” ê¸°ë²•

### âœ” Decision Tree ë§Œë“¤ê¸°
- ì–´ë–¤ ì§ˆë¬¸(Attribute)ì´ ê°€ì¥ ë§ì€ í•´ë‹µ(Y)ì„ ì¤„ ê²ƒì¸ê°€?
- ê²°êµ­ ì–´ë–¤ ì§ˆë¬¸ì€ ë‹µì˜ ëª¨í˜¸ì„±ì„ ì¤„ì—¬ì¤„ ê²ƒì¸ê°€?
- ë¬¸ì œë¥¼ í†µí•´ì„œ splitting pointì„ ì„¤ì •  
    -> ë‚¨ì€ ì •ë³´ë¡œ splitting pointë¥¼ ì„¤ì •í•˜ëŠ” ì‹

Ex) ëª¨í˜¸ì„±ì„ ì¤„ì—¬ì£¼ëŠ” ì˜ˆì‹œ  
- ë‹µì´ ë”±ë”± ë‚˜ëˆ„ì–´ ë–¨ì–´ì§ => ëª¨í˜¸ì„±ì„ ì¤„ì—¬ì¤Œ
- ì •í™•í•œ ì„±ëŠ¥ì„ ë‚˜íƒ€ë‚¼ ìˆ˜ ìˆëŠ” Tree

![ex1](./img/Ex1.PNG)

## 1ï¸âƒ£ Information theory - Entropy

### âœ” Entropy
- ëª©ì  ë‹¬ì„±ì„ ìœ„í•œ ê²½ìš°ì˜ ìˆ˜ë¥¼ ì •ëŸ‰ì ìœ¼ë¡œ í‘œí˜„í•˜ëŠ” ìˆ˜ì¹˜  
    $\Rightarrow$ ì‘ì„ ìˆ˜ë¡ ê²½ìš°ì˜ ìˆ˜ê°€ ì ìŒ

- Higher $\uparrow$  Entropy $\Rightarrow$ Higher uncertainty ë¶ˆí™•ì‹¤ì„± ì¦ê°€ $\uparrow$
- Lower $\downarrow$ Entropy $\Rightarrow$ Lower uncertainty ë¶ˆí™•ì‹¤ì„± ê°ì†Œ $\downarrow$

<span style = 'color : red'>Entropyê°€ ì‘ìœ¼ë©´ ì–»ì„ ìˆ˜ ìˆëŠ” ì •ë³´ê°€ ë§ë‹¤, ëª…í™•í•˜ë‹¤</span>

- $p_i$ê°€ í´ìˆ˜ë¡ ì‚¬ê±´ì´ ì¼ì–´ë‚  í™•ë¥ ì´ ëª…í™•í•˜ë‹¤

##### $ h(D) = -\sum_{i=1}^m p_i log_2(p_i)$

h(D)ì˜ ê°’ì´ 0ì— ê°€ê¹Œì›Œì§€ë©´ EntropyëŠ” $\downarrow$  
$\Rightarrow$ ë¶ˆí™•ì‹¤ì„±ì´ $\downarrow$

í™•ë¥ ì´ 1 $\rightarrow$ Entropy = 0  
í™•ë¥ ì´ ì‘ì„ìˆ˜ë¡ EntropyëŠ” ì»¤ì§„ë‹¤  

![Entropy](./img/Entropy.PNG)

Ex) $m$ = 1,2,3  
$p_1 = 1$ $\Rightarrow$ $p_2 = p_3 = 0$  

$\Rightarrow$ h(D)ì—ëŠ” $p_1$ë§Œ ë‚¨ê²Œë˜ê³ , $h(D) = - p_1 log_2(p_1)$ 

ì´ë•Œ, $log_2(p_1) = 0, -log_2(p_i) = 0 \Rightarrow h(D) = 0$  
$\Rightarrow$ Lower Entropy, Lower uncertainty

âš  $p_i$ì˜ ê°’ì´ ë‹¤ì–‘í•  ê²½ìš° $-log_2(p_i)$ì˜ ê°’ì€ ì¦ê°€ $\uparrow$  
$\Rightarrow$ ë¶ˆí™•ì‹¤ì„± $\uparrow$

Ex) No : 5ê°œ, Yes : 9ê°œ  

$\rightarrow h(D) = -\frac{9}{14} log_2\frac{9}{14} + -\frac{5}{14} log_2\frac{5}{14}  
= 0.940bits $

In [1]:
import numpy as np

In [2]:
x = np.array([9/14, 5/14])
y = np.log2(x)

-sum(x*y)

0.9402859586706311

## 2ï¸âƒ£ Algorithms of Decision Tree
- Decision Tree ë§Œë“œëŠ” ê²ƒì„ ì‹œí‚¤ëŠ” ì•Œê³ ë¦¬ì¦˜ í•„ìš”

- ì–´ë–»ê²Œ í•˜ë©´ ê°€ì¥ ì˜ ë¶„ê¸°(branch)ë¥¼ ë§Œë“¤ìˆ˜ ìˆëŠ”ê°€?

- Dataì˜ attributeë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë¶„ê¸° ìƒì„± (ì–´ë–¤ê¸°ì¤€ìœ¼ë¡œ ë‚˜ëˆŒì§€)

- ì–´ë–¤ attributeë¥¼ ê¸°ì¤€ìœ¼ë¡œ í–ˆì„ ë•Œ ê°€ì¥ Entropyê°€ ì‘ì€ê°€?

- í•˜ë‚˜ë¥¼ ìë¥¸ í›„ì— ê·¸ ë‹¤ìŒì€ ì–´ë–»ê²Œ í•  ê²ƒì¸ê°€? 

- Decision TreeëŠ” ì¬ê·€ì ìœ¼ë¡œ ìƒê¹€  
: í° Attributeì—ì„œ sub attributeë¡œ ë‚˜ëˆ”

- ëŒ€ì‚° ë¼ë²¨ì— ëŒ€í•´ ì–´ë–¤ Attributeê°€ ë” í™•ì‹¤í•œ ì •ë³´ë¥¼ ì œê³µí•˜ê³  ìˆëŠ”ê°€?ë¡œ branch attributeë¥¼ ì„ íƒ

- í™•ì‹¤í•œ ì •ë³´ì˜ ì„ íƒ ê¸°ì¤€ì€ ì•Œê³ ë¦¬ì¦˜ ë³„ë¡œ ì°¨ì´ ë°œìƒ

- Tree ìƒì„± í›„ pruningì„ í†µí•´ Tree generalization ì‹œí–‰  
( pruning : Overfittingì„ ë°©ì§€í•˜ê¸° ìœ„í•´ ê°€ì§€ì¹˜ê¸°í•˜ëŠ” ê±° )

- ì¼ë°˜ì ìœ¼ë¡œ íš¨ìœ¨ì„ ìœ„í•´ Binary Tree ì‚¬ìš©

### âœ” Decision Treeì˜ íŠ¹ì§•
- ë¹„êµì  ê°„ë‹¨, <span style = 'color : blue'>ì§ê´€ì ìœ¼ë¡œ ê²°ê³¼ í‘œí˜„</span>
- í›ˆë ¨ì‹œê°„ì´ ê¸¸ê³  ë©”ëª¨ë¦¬ ê³µê°„ì„ ë§ì´ ì‚¬ìš©
- Top-down, Recursive, Divide and Conquer ê¸°ë²•  
Top-down : ìœ„ì—ì„œ ì•„ë˜ë¡œ ë‚´ë ¤ê°€ëŠ” êµ¬ì¡°  
Recursive : ì¬ê·€ì    
Divide and Conquer : ë‚˜ëˆˆ í›„ì— ë˜ ë‹¤ì‹œ ë‚˜ëˆ„ëŠ” êµ¬ì¡°  

- Greedy ì•Œê³ ë¦¬ì¦˜ $\rightarrow$ ë¶€ë¶„ ìµœì í™”  
: ì „ì²´ optimizationì´ ì•„ë‹Œ í˜„ì¬ì˜ optimizationì„ ì°¾ìŒ  
Ex) ì£¼í™©ì—ì„œë„ ìµœì í™”, íŒŒë‘ì—ì„œë„ ìµœì í™”ë¨

![ex2](./img/Ex2.png)

### ğŸ’â€â™€ï¸ Decision Treeì˜ ì¥ì 
- íŠ¸ë¦¬ì˜ ìƒë‹¨ ë¶€ë¶„ attributeë“¤ì´ ê°€ì¥ ì¤‘ìš”í•œ ì˜ˆì¸¡ë³€ìˆ˜  
$\Rightarrow$ attribute ì„ íƒ ê¸°ë²•ìœ¼ë¡œë„ í™œìš© ê°€ëŠ¥

- Attributeì˜ scaling í•„ìš” X
- ê´€ì¸¡ì¹˜ì˜ ì ˆëŒ€ê°’ì´ ì•„ë‹Œ ìˆœì„œê°€ ì¤‘ìš”  
$\Rightarrow$ Outlierì— ì´ì   
(Outlier : ì •ê·œë¶„í¬ì—ì„œ ì–‘ê·¹ë‹¨ì— ìˆëŠ” ê±°)

- ìë™ì  ë³€ìˆ˜ ë¶€ë¶„ ì„ íƒ $\Leftarrow$ Tree Pruning 

### âœ” Algorithms of Decision Tree
- í¬ê²Œ ë‘ê°€ì§€ í˜•íƒœì˜ decision tree ì•Œê³ ë¦¬ì¦˜ ì¡´ì¬  
    : 1. ID3, 2. CART

- ì•Œê³ ë¦¬ì¦˜ ë³„ attribute branch ë°©ë²•ì´ ë‹¤ë¦„
- ID3 $\rightarrow$ C4.5(Ross Quinlan), CART
- ì—°ì†í˜• ë³€ìˆ˜ë¥¼ ìœ„í•œ regression treeë„ ì¡´ì¬

## 3ï¸âƒ£ ID3 & Information Gain

### âœ” Information Gain
- Entropy í•¨ìˆ˜ë¥¼ ë„ì…í•˜ì—¬ branch splitting
- Information Gain  
: Entropyë¥¼ ì‚¬ìš©í•˜ì—¬ ì†ì„±ë³„ ë¶„ë¥˜ì‹œ Impurityë¥¼ ì¸¡ì •í•˜ëŠ” ì§€í‘œ

- (ì „ì²´ Entropy - ì†ì„±ë³„ Entropy)ë¡œ ì†ì…©ë³„ Information Gainì„ ê³„ì‚°  
ì†ì„±ë³„ Entropy $\uparrow$ $\Rightarrow$ ë³µì¡ë„ $\uparrow$  

$\Rightarrow$ ì†ì„±ë³„ Entropyê°€ $\downarrow$ ì†ì„±ì„ ì„ íƒí•´ì„œ ë¶„ê¸°   
(ê°€ì¥ ëª…í™•í•˜ê²Œ ë°ì´í„°ë¥¼ ë‚˜ëˆŒ ìˆ˜ ìˆìŒ)

#### <span style = 'color : green'> ì „ì²´ ë°ì´í„° Dì˜ ì •ë³´ëŸ‰ ( ì „ì²´ Information Gain )</span>
#### $Info(D) = -\sum_{i=1}^n P_i log_2(p_i)$

#### <span style = 'color : green'> ì†ì„± Aë¡œ ë¶„ë¥˜ì‹œ ì •ë³´ëŸ‰ ( ì†ì„± Aì˜ Information Gain )</span>
#### $Info_A(D) = -\sum_{j=1}^v  \frac{\vert D_j \vert}{D} * Info(D_j)$
( j : ì†ì„± Aì˜ label,  Ex) j = red, blue )

#### <span style = 'color : green'> ì†ì„± Aì˜ ì •ë³´ ì†Œë“ </span>
#### <span style = 'background-color :#ffdce0' > $ Gain(A) = Info(D) - Info_A(D) $ </span>

$Gain(A) \downarrow $  
$\Rightarrow Info_A(D) \uparrow$   
$\Rightarrow$ ë³µì¡ë„ $\uparrow$  

$\Rightarrow Info_A(D)$ê°€ ê°€ì¥ $\downarrow$ , $Gain(A)\uparrow$ ì„ íƒ

```
if ë°ì´í„° ì§‘í•©ì— ìˆëŠ” ëª¨ë“  ì•„ì´í…œì´ ê°™ì€ ë¼ë²¨ì„:
    ë¶„ë¥˜ í•­ëª© í‘œì‹œë¥¼ ë°˜í™˜ (Ex : buy_yes)

else:
    Find Best spllit_branch_attribute (Ex : attribute - age)
    í•´ë‹¹ Attributeë¥¼ ê¸°ì¤€ìœ¼ë¡œ dataset ë¶„í• 
    Branch node ìƒì„±
        for each Branch
            branch_node.add(Recursive branch split)
    return branch node
```

### âœ” Growing a Decsion Tree

#### [ Age ] ğŸ‘¶ğŸ§‘ğŸ‘§ğŸ‘µ
#####  **$Gain(age)$** $= Info(D) - Info_{age}(D)$
##### **$Info_{age}(D)$** $= -\sum_{j=1}^v  \frac{\vert D_j \vert}{D} * Info(D_j)$

$ j \ni$ {youth, middle_age, senior}

Ex) $D_j$ : $ D_{youth} $= 5ëª…, middle_age : 4ëª…, senior   : 5ëª…

##### **$Info_{age}(D)$**
##### = $\frac{5}{14} * (\frac{2}{5} log_2 \frac{2}{5} - \frac{3}{5} log_2 \frac{3}{5}) $ ;  ageê°€ youthì¸ 5ëª… ì¤‘ yes : 2ëª…, No : 3ëª…
##### $+ \frac{4}{14} * (\frac{4}{4} log_2 \frac{4}{4} ) $
##### $+ \frac{5}{14} * (\frac{3}{5} log_2 \frac{3}{5} - \frac{2}{5} log_2 \frac{2}{5}) $

##### **$Info(D)$** $= -\frac{9}{14}(log_2 \frac{9}{14}) -\frac{5}{14}(log_2 \frac{5}{14})$

#### [ Credit ] ğŸ’³
$Gain(Credit) = Info(D) - Info_{Credit}(D)$

#### [ Income ] ğŸ’µğŸ’´ğŸ’¶
$Gain(Income) = Info(D) - Info_{Income}(D)$

#### [ Student ] ğŸ‘©â€ğŸ“ğŸ‘¨â€ğŸ“
$Gain(Student) = Info(D) - Info_{Student}(D)$

In [3]:
import pandas as pd
import numpy as np

In [4]:
pd_data = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
pd_data.drop('RID', axis = 1)
pd_data

    RID          age  income student credit_rating class_buys_computer
0     1        youth    high      no          fair                  no
1     2        youth    high      no     excellent                  no
2     3  middle_aged    high      no          fair                 yes
3     4       senior  medium      no          fair                 yes
4     5       senior     low     yes          fair                 yes
5     6       senior     low     yes     excellent                  no
6     7  middle_aged     low     yes     excellent                 yes
7     8        youth  medium      no          fair                  no
8     9        youth     low     yes          fair                 yes
9    10       senior  medium     yes          fair                 yes
10   11        youth  medium     yes     excellent                 yes
11   12  middle_aged  medium      no     excellent                 yes
12   13  middle_aged    high     yes          fair                 yes
13   14       senior  medium      no     excellent                  no

In [5]:
buy = pd_data.loc[pd_data['class_buys_computer'] == 'yes']
not_buy = pd_data.loc[pd_data['class_buys_computer'] == 'no']

In [6]:
buy

    RID          age  income student credit_rating class_buys_computer
2     3  middle_aged    high      no          fair                 yes
3     4       senior  medium      no          fair                 yes
4     5       senior     low     yes          fair                 yes
6     7  middle_aged     low     yes     excellent                 yes
8     9        youth     low     yes          fair                 yes
9    10       senior  medium     yes          fair                 yes
10   11        youth  medium     yes     excellent                 yes
11   12  middle_aged  medium      no     excellent                 yes
12   13  middle_aged    high     yes          fair                 yes

In [7]:
not_buy

    RID     age  income student credit_rating class_buys_computer
0     1   youth    high      no          fair                  no
1     2   youth    high      no     excellent                  no
5     6  senior     low     yes     excellent                  no
7     8   youth  medium      no          fair                  no
13   14  senior  medium      no     excellent                  no

In [8]:
x = np.array([len(buy) / len(pd_data), len(not_buy) / len(pd_data)])
y = np.log2(x)

info_all = -sum( x * y)

x, y, info_all

(array([0.64285714, 0.35714286]),
 array([-0.63742992, -1.48542683]),
 0.9402859586706311)

$Info(D)$ í•¨ìˆ˜í™” í•´ë³´ê¸°

In [9]:
def get_info(df):
    buy = df.loc[df['class_buys_computer'] == 'yes']
    not_buy = df.loc[df['class_buys_computer'] == 'no']
    x = np.array([len(buy) / len(df), len(not_buy) / len(df)])
    y = np.log2(x[x!=0])

    info_all = -sum( x[x!=0] * y)
    return info_all

In [10]:
get_info(pd_data)

0.9402859586706311

Attribute ë³„ information gain êµ¬í•˜ê¸°

In [11]:
youth = pd_data.loc[pd_data['age'] == 'youth']
senior = pd_data.loc[pd_data['age'] == 'senior']
middle_aged = pd_data.loc[pd_data['age'] == 'middle_aged']

In [12]:
youth

    RID    age  income student credit_rating class_buys_computer
0     1  youth    high      no          fair                  no
1     2  youth    high      no     excellent                  no
7     8  youth  medium      no          fair                  no
8     9  youth     low     yes          fair                 yes
10   11  youth  medium     yes     excellent                 yes

age = youthì¼ ë•Œì˜ Entropy

In [13]:
get_info(youth)

0.9709505944546686

In [14]:
senior

    RID     age  income student credit_rating class_buys_computer
3     4  senior  medium      no          fair                 yes
4     5  senior     low     yes          fair                 yes
5     6  senior     low     yes     excellent                  no
9    10  senior  medium     yes          fair                 yes
13   14  senior  medium      no     excellent                  no

In [15]:
get_info(senior)

0.9709505944546686

In [16]:
middle_aged

    RID          age  income student credit_rating class_buys_computer
2     3  middle_aged    high      no          fair                 yes
6     7  middle_aged     low     yes     excellent                 yes
11   12  middle_aged  medium      no     excellent                 yes
12   13  middle_aged    high     yes          fair                 yes

In [17]:
get_info(middle_aged)

-0.0

ê° ì†ì„±ë³„ Entropy í•¨ìˆ˜í™”í•˜ê¸°

In [18]:
def get_attribute_info(df, attribute_name) :
    # Ex) attribute_name : age
    
    attribute_values = df[attribute_name].unique()
    # attribute_values = youth, middle_age, senior
    print(attribute_values)
    
    get_infos = []

    for value in attribute_values:
        split_df = df.loc[df[attribute_name] == value]

        get_infos.append( (len(split_df) / len(df)) * get_info(split_df))

    return sum(get_infos)

In [19]:
get_attribute_info(pd_data, 'age')

['youth' 'middle_aged' 'senior']

0.6935361388961918

### ìµœì¢…ì ìœ¼ë¡œ Information Gainì˜ ê°’
$ Gain(age) = Info(D) - Info_{age}(D) $

In [20]:
get_info(pd_data) - get_attribute_info(pd_data, 'age')

['youth' 'middle_aged' 'senior']

0.24674981977443933

$ Gain(credit) = Info(D) - Info_{credit}(D) $

In [21]:
get_info(pd_data) - get_attribute_info(pd_data, 'credit_rating')

['fair' 'excellent']

0.04812703040826949

$ Gain(income) = Info(D) - Info_{income}(D) $

In [22]:
get_info(pd_data) - get_attribute_info(pd_data, 'income')

['high' 'medium' 'low']

0.02922256565895487

$ Gain(student) = Info(D) - Info_{student}(D) $

In [23]:
get_info(pd_data) - get_attribute_info(pd_data, 'student')

['no' 'yes']

0.15183550136234159

ìœ„ì˜ 4ê°€ì§€ ì†ì„± ì¤‘ ê°€ì¥ í° Gainì˜ AttributeëŠ” Ageì¸ ê²ƒì„ ë³¼ ìˆ˜ ìˆë‹¤.  
= Ageì˜ Entropyê°€ ê°€ì¥ ì‘ë‹¤ = í—·ê°€ë¦¬ëŠ” ê²ƒì´ ì‘ë‹¤. = ë¨¼ì € ë¶„ë¥˜í•  Attribute

ë¨¼ì €, Age Attributeë¥¼ ê¸°ì¤€ìœ¼ë¡œ branch

![branch](https://ifh.cc/g/JXRamt.jpg)

ë‹¤ìŒìœ¼ë¡œëŠ” youthë¥¼ ê¸°ì¤€ìœ¼ë¡œ branch, senior ê¸°ì¤€ìœ¼ë¡œ branch  

ìœ„ì™€ ë˜‘ê°™ì€ ë°©ì‹ìœ¼ë¡œ youthë¥¼ ê¸°ì¤€ìœ¼ë¡œ branch í•´ë³´ì

In [24]:
youth = pd_data.loc[pd_data['age'] == 'youth']
youth

    RID    age  income student credit_rating class_buys_computer
0     1  youth    high      no          fair                  no
1     2  youth    high      no     excellent                  no
7     8  youth  medium      no          fair                  no
8     9  youth     low     yes          fair                 yes
10   11  youth  medium     yes     excellent                 yes

In [25]:
get_info(youth) - get_attribute_info(youth, 'income')

['high' 'medium' 'low']

0.5709505944546686

In [26]:
get_info(youth) - get_attribute_info(youth, 'student')

['no' 'yes']

0.9709505944546686

In [27]:
get_info(youth) - get_attribute_info(youth, 'credit_rating')

['fair' 'excellent']

0.01997309402197489

income, student, credit_ratingì˜ information Gain ì¤‘ ê°€ì¥ í° ê°’ì„ ê°€ì§€ëŠ” AttributeëŠ” studentì´ë‹¤. 

$\Rightarrow$ Studentë¥¼ ê¸°ì¤€ìœ¼ë¡œ branch

![branch1](./img/branch1.PNG)

ì˜ ë‚˜ëˆ ì¡Œìœ¼ë¯€ë¡œ senior ê¸°ì¤€ìœ¼ë¡œ ë‹¤ì‹œ branch

## 4ï¸âƒ£ C4.5 & Gini Index

### âœ” Information Gainì˜ ë¬¸ì œì 
- ì–´ë–¤ Attributeì— í¬í•¨ëœ ê°’ì´ ë‹¤ì–‘í•  ìˆ˜ë¡ ì„ íƒë˜ê³ ì í•¨

ì´ê²Œ ë¬´ìŠ¨ ë§ì´ëƒë©´   

ì˜ˆë¥¼ ë“¤ì–´ì„œ ageë¼ëŠ” Attributeì— 1~100ê¹Œì§€ ëª¨ë‘ í•˜ë‚˜ì”© ìˆë‹¤ê³  í•´ë³´ì   

ê·¸ëŸ¬ë©´ $Info_A(D)$ì˜ ì‹ì—ì„œ $\frac{\vert D_j \vert}{\vert D \vert}$ê°€ ì‘ì€ ê°’ì„ ê°€ì§€ê²Œ ë  ê²ƒì´ë‹¤.  

$\Rightarrow Info_A(D) \downarrow \Rightarrow Gain(A) \uparrow$  

##### $Gain(A) = info(D) - Info_A(D)$
##### $Info_A(D) = \sum_{j=1}^v \frac{\vert D_j \vert}{\vert D \vert} * Info(D_j)$
##### $Info(D) = - \sum_{i=1}^n p_i log_2 (p_i)$

- í•œ Attributeê°€ ëª¨ë‘ ë‹¤ë¥¸ ê°’ì„ ê°€ì§ˆ ë•Œ   
<span style = 'color : red'>ë³´ì™„ì„ í•´ì¤„ ë‹¤ë¥¸ Measure í•„ìš”</span>

### âœ” Gain Ratio
- ID3ì˜ ë°œì „í˜•ì¸ C4.5 ì•Œê³ ë¦¬ì¦˜ì—ì„œ ì‚¬ìš©ë˜ëŠ” measure
- Info(D)ì˜ ê°’ì„ í‰ì¤€í™”ì‹œì¼œ ë¶„í•  ì •ë³´ ê°’ì„ ëŒ€ì‹  ì‚¬ìš©
- ê°’ì´ ë‹¤ì–‘í•  ìˆ˜ë¡ weightë¥¼ ì¤˜ penalty ë¶€ì—¬

##### $ splitInfo_A(D) = -\sum_{j=1}^v \frac{\vert D_j \vert}{\vert D \vert} * (log_2 \frac{\vert D_j \vert}{\vert D \vert})$
##### $ GainRatio(A) = \frac{Gain(A)}{SplitInfo_A(D)} = \frac{Info(D) - Info_A(D)}{SplitInfo_A(D)} $

![c4](./img/c4.PNG)

Ex) $SplitInfo_A(D)$  

ì´ ë°ì´í„° 14ê°œ ì¤‘ì—ì„œ j = 1ì¸ ë°ì´í„°ì˜ ê°œìˆ˜ê°€ 2ê°œì¸ ê²½ìš°  

$\frac{\vert D_j \vert}{\vert D \vert}$ëŠ” ì‘ì„ ê²ƒì´ê³ ,  - $log_2 \frac{\vert D_j \vert}{\vert D \vert}$ëŠ” í´ ê²ƒì´ë‹¤.  

(ìœ„ì˜ ê·¸ë˜í”„ë¥¼ ë³´ë©´ $p_i$ê°€ ì‘ì•„ì§ˆìˆ˜ë¡ $-log_2(p_i)$ê°€ ì»¤ì§€ëŠ” ê²ƒì„ ë³¼ ìˆ˜ ìˆë‹¤.)

$\Rightarrow$ ì´ëŸ° ê²½ìš° $splitInfo_A(D)$ì˜ ê°’ì´ ì»¤ì§€ê²Œ ë˜ë©° $GainRatio(A)$ì˜ ê°’ì€ ì‘ì•„ì§ˆ ê²ƒì´ë‹¤.


<span style = 'background-color : #f5f0ff'>$SplitInfo_A(D) \uparrow \ \Rightarrow GainRatio(A) \downarrow  \ \Rightarrow SplitInfo_A(D) : Penalty$ </span>

### âœ” Gini Index
- CART ì•Œê³ ë¦¬ì¦˜ì˜ split measure
- í›ˆë ¨ íŠœí”Œ ì„¸íŠ¸ë¥¼ íŒŒí‹°ì…˜ì„ ë‚˜ëˆ„ì—ˆì„ë•Œ ë¶ˆìˆœí•œ ì •ë„ë¥¼ ì¸¡ì •
##### $Gini(D) = 1 - \sum_{i=1}^m p_i^2 = 1 - \sum_{i=1}^m \frac{\vert C_{i,D} \vert}{\vert D \vert}$
where $C_i$ is a class

- class ë³„ë¡œ ë°ì´í„° ê°œìˆ˜ êµ¬í•´ì„œ í•˜ëŠ” ë°©ì‹

- ë°ì´í„°ì˜ ëŒ€ìƒ ì†ì„±ì„ ì–¼ë§ˆë‚˜ ì˜ëª» ë¶„ë¥˜í• ì§€ë¥¼ ê³„ì‚°

- ì‹¤ì œ Gini IndexëŠ” Entropyì™€ ë¹„ìŠ·í•œ ê·¸ë˜í”„ê°€ ê·¸ë ¤ì§

- 0.5ì¼ ë•Œ Impurityì˜ ìµœëŒ€í™”, ì•½ ê·¹ì ì—ì„œ 0

##### $ Gini(D) = \sum_{i=1}^m p_i (1-p_i) = 1 - \sum_{i=1}^m p_i^2 = 1 - \sum_{i=1}^m \frac{\vert C_{i,D} \vert}{\vert D \vert} $

![Gini](./img/Gini.PNG)

### âœ” <span style = 'background-color : #ffdce0'> Binary Split </span>
: ì»´í“¨í„°ê°€ searchingì„ ì˜ í•  ìˆ˜ ìˆëŠ” ë°©ë²• ì¤‘ í•˜ë‚˜

- CART ì•Œê³ ë¦¬ì¦˜ì€ Binary Splitì„ ì „ì œë¡œ ë¶„ì„


    ì´ê²Œ ë¬´ìŠ¨ ë§ì´ëƒ

    Ex) category dataê°€ youth, middle, seniorë¡œ êµ¬ë¶„ë  ë•Œ  

    youthì™€ ë‚˜ë¨¸ì§€ /  middleê³¼ ë‚˜ë¨¸ì§€ / seniorì™€ ë‚˜ë¨¸ì§€ë¡œ ê°ê° 3ê°œì˜ binary splitì„ í•´ì„œ êµ¬í•˜ëŠ” ë°©ì‹
  
    ê·¸ë ‡ë‹¤ë©´ ì•„ë˜ì˜ ì‹ì—ì„œ AëŠ” youth, middle, seniorë¥¼ ëœ»í•˜ë©° ì´ 3ê°œì˜ Giniì˜ ê°’ì´ ë‚˜ì˜¬ê²ƒì´ë‹¤.   
    

- kê°€ ì†ì„± ë‚´ ë°ì´í„° ë¶„ë¥˜ì˜ ê°œìˆ˜ì¼ ë•Œ $2^{k-1} - 1$ê°œ ë§Œí¼ì˜ Split ìƒì„±

    $ \Rightarrow $ C4.5ì— ë¹„í•´ ë§ì€ splitì´ ìƒê¹€

##### $ Gini_A(D) = \frac{\vert D_1 \vert}{\vert D \vert }Gini(D_1) +  \frac{\vert D_2 \vert}{\vert D \vert }Gini(D_2) $

-  <span style = 'color : purple'> Gini ê°’ì´ ê°€ì¥ ì‘ì€ ë¶„ë¥˜ë¥¼ ì„ íƒ</span>

### Growing a CART Decision Tree

#### **[ Age ]**
$ Gini_{age}(D)$ $age \in $ {youth, middle_age, senior}  

![gini_age](./img/Gini_Age.PNG)

##### ì„¸ ê°€ì§€ ê²½ìš°ì˜ ëª¨ë“  Gini Index ì‚°ì¶œ

$age_1 \in $ {youth} = {middle_age, senior}  
$age_2 \in $ {middle_age} = {youth, senior}  
$age_3 \in $ {senior} = {youth, middle_age}  

##### $ Gini_A(D) = \frac{\vert D_1 \vert}{\vert D \vert }Gini(D_1) +  \frac{\vert D_2 \vert}{\vert D \vert }Gini(D_2) $

##### Ex) youthì™€ ë‚˜ë¨¸ì§€ë¥¼ Binary Split í–ˆì„ ê²½ìš° 
$\Rightarrow \ age_1$ : youth = 5ëª…, ë‚˜ë¨¸ì§€ : 9ëª… 

##### $ Gini_{age_1} = \frac{5}{14}Gini(D_1) +  \frac{9}{14}Gini(D_2) $  

$ Gini(D_1)$ : youth ì¤‘ yes = 2ëª… , no = 3ëª…

##### $ Gini(D_1) = 1 - (\frac{3}{5})^2 - (\frac{2}{5})^2 $  

$ Gini(D_2) $ : ë‚˜ë¨¸ì§€ ì¤‘ yes : 7ëª…, no : 2ëª…

##### $ Gini(D_2) = 1 - (\frac{7}{9})^2 - (\frac{2}{9})^2 $

In [28]:
import numpy as np
import pandas as pd

In [29]:
from dataclasses import replace


pd_data = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
pd_data.drop('RID', axis =1)
pd_data

    RID          age  income student credit_rating class_buys_computer
0     1        youth    high      no          fair                  no
1     2        youth    high      no     excellent                  no
2     3  middle_aged    high      no          fair                 yes
3     4       senior  medium      no          fair                 yes
4     5       senior     low     yes          fair                 yes
5     6       senior     low     yes     excellent                  no
6     7  middle_aged     low     yes     excellent                 yes
7     8        youth  medium      no          fair                  no
8     9        youth     low     yes          fair                 yes
9    10       senior  medium     yes          fair                 yes
10   11        youth  medium     yes     excellent                 yes
11   12  middle_aged  medium      no     excellent                 yes
12   13  middle_aged    high     yes          fair                 yes
13   14       senior  medium      no     excellent                  no

In [30]:
youth = pd_data.loc[pd_data['age'] == 'youth']
youth

    RID    age  income student credit_rating class_buys_computer
0     1  youth    high      no          fair                  no
1     2  youth    high      no     excellent                  no
7     8  youth  medium      no          fair                  no
8     9  youth     low     yes          fair                 yes
10   11  youth  medium     yes     excellent                 yes

In [31]:
youth.index

Int64Index([0, 1, 7, 8, 10], dtype='int64')

difference(index) : indexì˜ ì°¨ì§‘í•©ì„ êµ¬í•´ì¤Œ

In [32]:
pd_data.index.difference(youth.index)

Int64Index([2, 3, 4, 5, 6, 9, 11, 12, 13], dtype='int64')

In [33]:
middle_senior = pd_data.loc[pd_data.index.difference(youth.index)]
middle_senior

    RID          age  income student credit_rating class_buys_computer
2     3  middle_aged    high      no          fair                 yes
3     4       senior  medium      no          fair                 yes
4     5       senior     low     yes          fair                 yes
5     6       senior     low     yes     excellent                  no
6     7  middle_aged     low     yes     excellent                 yes
9    10       senior  medium     yes          fair                 yes
11   12  middle_aged  medium      no     excellent                 yes
12   13  middle_aged    high     yes          fair                 yes
13   14       senior  medium      no     excellent                  no

### Gini Index êµ¬í•˜ëŠ” í•¨ìˆ˜

##### $ Gini(D) = \sum_{i=1}^m p_i (1-p_i) = 1 - \sum_{i=1}^m p_i^2 = 1 - \sum_{i=1}^m \frac{\vert C_{i,D} \vert}{\vert D \vert} $

ì•„ë˜ì˜ ì½”ë“œëŠ” ë³„ë¡œ ì¢‹ì€ ì½”ë“œ ì•„ë‹˜

In [34]:
def get_gini(df):

    buy_df = df.loc[df['class_buys_computer'] == 'yes']
    not_buy_df = df.loc[df['class_buys_computer'] == 'no']

    if len(buy_df) == 0:
        buy_value = 0

    else:
        buy_value = len(buy_df)

    if len(not_buy_df) == 0:
        not_buy_value = 0

    else:
        not_buy_value = len(not_buy_df)

    result = ( buy_value / len(df) ) ** 2 + ( not_buy_value / len(df) ) ** 2

    return 1 - result

In [35]:
from itertools import chain, combinations

ê²°í•©ë˜ëŠ” ëª¨ë“  ê²½ìš°ì˜ ìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” í•¨ìˆ˜

In [36]:
def powerset(data):
    listed_data = list(data)
    chain_set = chain.from_iterable(combinations(listed_data, i) for i in range(len(listed_data)+1 ))

    return [set_data for set_data in chain_set]

In [37]:
powerset(pd_data['age'].unique())

[(),
 ('youth',),
 ('middle_aged',),
 ('senior',),
 ('youth', 'middle_aged'),
 ('youth', 'senior'),
 ('middle_aged', 'senior'),
 ('youth', 'middle_aged', 'senior')]

In [38]:
def get_binary_split(df, attribute):
    powerset_data = powerset( df[attribute].unique() )
    result = []

    # ()ì™€ ê°™ì´ 0ì´ ë˜ëŠ” ê²ƒì€ ë¹¼ì£¼ê¸°
    result = [ data for data in powerset_data if len(data) != 0]
    print('result:', result)

    # ëª¨ë“  ê°’ì´ í¬í•¨ë˜ì–´ ìˆëŠ” ê²ƒì€ ë¹¼ì£¼ê¸°
    result = [set(data) for data in result if len(data) != len(df[attribute].unique())]

    return result

In [39]:
get_binary_split(pd_data, 'age')

result: [('youth',), ('middle_aged',), ('senior',), ('youth', 'middle_aged'), ('youth', 'senior'), ('middle_aged', 'senior'), ('youth', 'middle_aged', 'senior')]

[{'youth'},
 {'middle_aged'},
 {'senior'},
 {'middle_aged', 'youth'},
 {'senior', 'youth'},
 {'middle_aged', 'senior'}]

### Gini Index êµ¬í•˜ëŠ” í•¨ìˆ˜

In [40]:
def get_attribute_gini_index(df, attribute_name):

    # ëª¨ë“  ê²½ìš°ì˜ ìˆ˜ êµ¬í•˜ê¸°
    split_attributes = get_binary_split(pd_data, attribute_name)

    result = {}

    for split_attr in split_attributes:
        indexes = [df.loc[df[attribute_name] == attr ].index for attr in split_attr]

        d1_index = indexes[0]

        for index in indexes[1:]:
            # union : í•©ì§‘í•©
            d1_index = d1_index.union(index)
            
        d2_index = df.index.difference(d1_index)

        d1_gini = (len(d1_index) / len(df)) * get_gini(df.loc[d1_index])
        d2_gini = (len(d2_index) / len(df)) * get_gini(df.loc[d2_index])
        d_split_gini = d1_gini + d2_gini

        result['_'.join(split_attr)] = d_split_gini

    return result

In [41]:
get_attribute_gini_index(pd_data, 'age')

result: [('youth',), ('middle_aged',), ('senior',), ('youth', 'middle_aged'), ('youth', 'senior'), ('middle_aged', 'senior'), ('youth', 'middle_aged', 'senior')]

{'youth': 0.3936507936507937,
 'middle_aged': 0.35714285714285715,
 'senior': 0.45714285714285713,
 'middle_aged_youth': 0.45714285714285713,
 'senior_youth': 0.35714285714285715,
 'middle_aged_senior': 0.3936507936507937}

ìœ„ì˜ ê²°ê³¼ë¥¼ ë³´ë©´ seniorì™€ middle_aged_youthê°€ ë™ì¼í•œ ê°’ì„ ê°€ì§€ëŠ” ê²ƒì„ ë³¼ ìˆ˜ ìˆë‹¤.  
ì´ëŠ”, seniorì¼ ê²½ìš°ì— ë‚˜ë¨¸ì§€ê°€ middle_aged_youthì´ê³ , ë°˜ëŒ€ë„ ë™ì¼í•˜ê¸° ë•Œë¬¸ì´ë‹¤.

In [42]:
get_attribute_gini_index(pd_data, 'credit_rating')

result: [('fair',), ('excellent',), ('fair', 'excellent')]

{'fair': 0.42857142857142855, 'excellent': 0.42857142857142855}

In [43]:
get_attribute_gini_index(pd_data, 'student')

result: [('no',), ('yes',), ('no', 'yes')]

{'no': 0.3673469387755103, 'yes': 0.3673469387755103}

## 5ï¸âƒ£ Tree prunning (Tree ê°€ì§€ì¹˜ê¸°)

### Decision Tree ìƒì„± ì‹œ ë¬¸ì œì 
- classì˜ leaf nodeì˜ ê²°ì •

- ë³µì¡í•˜ê²Œ ë„ˆë¬´ ë§ì€ ê°€ì§€ê°€ ìƒê¸¸ ê²½ìš° $\rightarrow$ Overfitting

- impurity or varianceëŠ” ë‚®ì€ë°, ë…¸ë“œì— ë°ì´í„°ê°€ 1ê°œ

- ì–´ë–¤ ì‹œì ì—ì„œ íŠ¸ë¦¬ ê°€ì§€ì¹˜ê¸° í•´ì•¼í•  ì§€ ê²°ì •ì´ ì¤‘ìš”

### Pre-prunnig
: Tree ìƒì„± ì „ì— ì •í•´ì£¼ëŠ” ê±°  

Ex) hyperparameterë¡œ Tree depth, leaf nodeì˜ ê°œìˆ˜ ì œí•œ ë“±ë“± ì‚¬ì „ì— ì§€ì •

- Tree ìƒì„± ì‹œ, ì¼ì • ê¸°ì¤€ ì´í•˜ë©´ ë…¸ë“œ ìƒì„± X
    
    $\Rightarrow$ í•˜ìœ„ ë…¸ë“œ ê°œìˆ˜, í•˜ìœ„ ë…¸ë“œì˜ label ë¹„ìœ¨ (Ex : í•œìª½ì´ 95?)

- Thresholdë¥¼ ì¡ì•„ì¤˜ì•¼ í•˜ëŠ” ì–´ë ¤ì›€, CHAIDë“± ì‚¬ìš©

- ê³„ì‚° íš¨ìœ¨ì´ ì¢‹ê³  ì‘ì€ ë°ì´í„°ì…‹ì—ì„œ ì˜ ì‘ë™

- ì†ì„±ì„ ë†“ì¹  ìˆ˜ ìˆìŒ, underfitting ê°€ëŠ¥ì„±ì´ $\uparrow$

### Post-prunnig
- Tree ìƒì„± í›„ Treeì˜ ì˜¤ì°¨ìœ¨ ìµœì†Œí™”ë¥¼ ìœ„í•´ ì‹¤í–‰

- ì˜¤ë¶„ë¥˜ìœ¨ ìµœì†Œí™”, cost complexity ìµœì†Œí™” ë“±ì„ ì‚¬ìš©

- ê²€ì¦ì„ ìœ„í•œ validation setì„ ë”°ë¡œ ìƒì„±

![error](./img/Error.PNG)

ì–´ëŠ ì •ë„ì˜ node ìˆ˜ë¥¼ ì´ˆê³¼í•˜ê²Œ ë˜ë©´ Test Datasetì˜ Errorê°€ $\uparrow$ 

$\Rightarrow$ ì–´ëŠ ì •ë„ nodeì˜ ìˆ˜ê°€ ë˜ì—ˆì„ ë•Œ ì˜ë¼ì•¼í•¨

## 6ï¸âƒ£ Decision tree with scikit-learn

```
sklearn.tree.DecisionTreeClassifier
```

- criterion (ë¶„ë¥˜ ê¸°ì¤€)  
: string, optional (default = 'gini)  
Decision Treeë¥¼ êµ¬í˜„í•˜ëŠ” ê±°ëŠ” CART ì•Œê³ ë¦¬ì¦˜ì„ ë§ì´ ì‚¬ìš©

- max_depth  
: Overfitting ë°©ì§€  
int or None, optional (default = None)

- min_samples_split  
: ìµœì†Œí•œì˜ sampleì˜ ê°œìˆ˜ ì´ìƒì´ì–´ì•¼ splití•  ê±°ì„  
int, float, optional (default = 2)

- min_samples_leaf  
: leafê°€ ì ì–´ë„ ëª‡ê°œì´ìƒì¼ ë•Œ ë„˜ì–´ê°  
int, float, optional (default = 1)

- max_features  
: splití•  featureì˜ ìµœëŒ€ ê°œìˆ˜  
int, float, string or None, optional (default = None)

- max_leaf_nodes  
int or None, oprional (default = None)

### Casestudy -Titanic
: Titanicì— íƒ‘ìŠ¹í•œ ìŠ¹ê° ì •ë³´ë¥¼ ìŠ¹ê°ì˜ êµ¬ì¶œ ì—¬ë¶€ ê²°ì •

In [44]:
import pandas as pd
import warnings
warnings.filterwarnings(action = 'ignore')

### Load Dataset

In [45]:
train_df = pd.read_csv('https://raw.githubusercontent.com/TeamLab/machine_learning_from_scratch_with_python/master/code/ch12/titanic/train.csv')
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [46]:
test_df = pd.read_csv('https://raw.githubusercontent.com/TeamLab/machine_learning_from_scratch_with_python/master/code/ch12/titanic/test.csv')
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [47]:
len(train_df), len(test_df)

(891, 418)

In [48]:
train_id = train_df['PassengerId'].values
test_id = test_df['PassengerId'].values

train_id[-1], test_id[-1]

(891, 1309)

In [49]:
all_df = train_df.append(test_df).set_index('PassengerId')
all_df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### ë°ì´í„° ì „ì²˜ë¦¬

ì„±ë³„ ì¬í• ë‹¹ : ë‚¨ $\rightarrow$ 0, ì—¬ $\rightarrow$ 1

In [50]:
all_df['Sex'] = all_df['Sex'].replace( {'male' : 0, 'female' :1})
all_df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
3,1.0,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
5,0.0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

### ê²°ì¸¡ì¹˜ í™•ì¸

In [51]:
all_df.isnull().sum()

Survived     418
Pclass         0
Name           0
Sex            0
Age          263
SibSp          0
Parch          0
Ticket         0
Fare           1
Cabin       1014
Embarked       2
dtype: int64

### Age ê²°ì¸¡ì¹˜ ì²˜ë¦¬

In [52]:
all_df.groupby('Pclass')['Age'].transform('mean')

PassengerId
1       24.816367
2       39.159930
3       24.816367
4       39.159930
5       24.816367
          ...
1305    24.816367
1306    39.159930
1307    24.816367
1308    24.816367
1309    24.816367
Name: Age, Length: 1309, dtype: float64

In [53]:
all_df['Age'].fillna(all_df.groupby('Pclass')['Age'].transform('mean'), inplace = True)

all_df.isnull().sum()

Survived     418
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Cabin       1014
Embarked       2
dtype: int64

### Cabin ê²°ì¸¡ì¹˜ ì²˜ë¦¬
ì§ì„ ë§ì´ ë“¤ê³ ë‹¤ë‹ˆë©´ ëˆì´ ë§ì§€ ì•Šì„ê¹Œ ë¼ê³  ìƒê°í–ˆëŒ€

In [54]:
all_df['Cabin'].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148', 'B45', 'B36', 'A21', 'D34', 'A9', 'C31', 'B61', 'C53',
       'D43', 'C130', 'C132', 'C55 C57', 'C116', 'F', 'A29', 'C6', 'C28',
       'C51', 'C97', 'D22', 'B10', 'E45', 'E52', 'A11', 'B11', 'C80',
       'C89', 'F E46', 'B26', 'F E57', 'A18', 'E60', 'E39 E41',
       'B52 B54 B56', 'C39', 'B24', 'D40', 'D38', 'C105'], dtype=object)

In [55]:
all_df['cabin_count'] = all_df['Cabin'].map(lambda x : len(x.split()) if type(x) == str else 0)
all_df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,cabin_count
PassengerId,,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,0
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,1
3,1.0,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,1
5,0.0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,0

### Name featureì— ìˆëŠ” Mr., Mrs. ë“±ìœ¼ë¡œ ë¶„ì„

In [56]:
all_df['Name'][:5]

PassengerId
1                              Braund, Mr. Owen Harris
2    Cumings, Mrs. John Bradley (Florence Briggs Th...
3                               Heikkinen, Miss. Laina
4         Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                             Allen, Mr. William Henry
Name: Name, dtype: object

In [57]:
def transform_status(x):
    if 'Mrs' in x or 'Ms' in x:
        return 'Mrs'

    elif 'Mr' in x:
        return 'Mr'

    elif 'Miss' in x:
        return 'Miss'
    
    elif 'Master' in x :
        return 'Master'
    
    elif 'Dr' in x :
        return 'Dr'

    elif 'Rev' in x :
        return 'Rev'

    elif 'Col' in x :
        return 'Col'

    else:
        return '0'

In [58]:
all_df['Name'].unique().tolist()[-10:]

['Riordan, Miss. Johanna Hannah""',
 'Peacock, Miss. Treasteall',
 'Naughton, Miss. Hannah',
 'Minahan, Mrs. William Edward (Lillian E Thorpe)',
 'Henriksson, Miss. Jenny Lovisa',
 'Spector, Mr. Woolf',
 'Oliva y Ocana, Dona. Fermina',
 'Saether, Mr. Simon Sivertsen',
 'Ware, Mr. Frederick',
 'Peter, Master. Michael J']

In [59]:
all_df['social_status'] = all_df['Name'].map(lambda x : transform_status(x))

In [60]:
all_df['social_status'].value_counts()

Mr        758
Miss      258
Mrs       203
Master     61
0           9
Rev         8
Dr          8
Col         4
Name: social_status, dtype: int64

#### social_status == 0ì¸ Name ì‚´í´ë³´ê¸°

In [61]:
all_df[all_df['social_status'] == '0']['Name']

PassengerId
31                               Uruchurtu, Don. Manuel E
370                         Aubart, Mme. Leontine Pauline
450                        Peuchen, Major. Arthur Godfrey
537                     Butt, Major. Archibald Willingham
642                                  Sagesser, Mlle. Emma
746                          Crosby, Capt. Edward Gifford
760     Rothes, the Countess. of (Lucy Noel Martha Dye...
823                       Reuchlin, Jonkheer. John George
1306                         Oliva y Ocana, Dona. Fermina
Name: Name, dtype: object

In [62]:
all_df.iloc[train_id - 1].isnull().sum()

Survived           0
Pclass             0
Name               0
Sex                0
Age                0
SibSp              0
Parch              0
Ticket             0
Fare               0
Cabin            687
Embarked           2
cabin_count        0
social_status      0
dtype: int64

### Emvarked ê²°ì¸¡ì¹˜ ì²˜ë¦¬

Embarked : ì–´ë””ì—ì„œ ì¶œë°œí•´ëŠ”ì§€

In [63]:
all_df[all_df['Embarked'].isnull()]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,cabin_count,social_status
PassengerId,,,,,,,,,,,,,
62,1.0,1,"Icard, Miss. Amelie",1,38.0,0,0,113572,80.0,B28,NaN,1,Miss
830,1.0,1,"Stone, Mrs. George Nelson (Martha Evelyn)",1,62.0,0,0,113572,80.0,B28,NaN,1,Mrs

Drop Embarked

In [64]:
all_df = all_df.drop([62, 830])

In [65]:
all_df.isnull().sum()

Survived          418
Pclass              0
Name                0
Sex                 0
Age                 0
SibSp               0
Parch               0
Ticket              0
Fare                1
Cabin            1014
Embarked            0
cabin_count         0
social_status       0
dtype: int64

In [66]:
import numpy as np

Train_idì—ì„œë„ Embarked ê²°ì¸¡ì¹˜ drop

In [67]:
train_id = np.delete(train_id, [62-1, 830-1])

In [68]:
all_df.iloc[:len(train_id)].isnull().sum()

Survived           0
Pclass             0
Name               0
Sex                0
Age                0
SibSp              0
Parch              0
Ticket             0
Fare               0
Cabin            687
Embarked           0
cabin_count        0
social_status      0
dtype: int64

### Fare ê²°ì¸¡ì¹˜ ì²˜ë¦¬

In [69]:
all_df[all_df['Fare'].isnull()]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,cabin_count,social_status
PassengerId,,,,,,,,,,,,,
1044,NaN,3,"Storey, Mr. Thomas",0,60.5,0,0,3701,NaN,NaN,S,0,Mr

In [70]:
all_df.groupby(['Pclass', 'Sex'])['Fare'].mean()

Pclass  Sex
1       0       69.888385
        1      109.826644
2       0       19.904946
        1       23.234827
3       0       12.415462
        1       15.324250
Name: Fare, dtype: float64

In [71]:
all_df.loc[all_df['Fare'].isnull(), 'Fare'] = 12.415462

In [72]:
all_df.isnull().sum()

Survived          418
Pclass              0
Name                0
Sex                 0
Age                 0
SibSp               0
Parch               0
Ticket              0
Fare                0
Cabin            1014
Embarked            0
cabin_count         0
social_status       0
dtype: int64

### Cabin ê²°ì¸¡ì¹˜ ì²˜ë¦¬

In [73]:
all_df['cabin_type'] = all_df['Cabin'].map(lambda x : x[0] if type(x) == str else '99')

In [74]:
del all_df['Cabin']
del all_df['Name']
del all_df['Ticket']

In [75]:
all_df.loc[train_id]['Survived'].isnull().sum()

0

In [76]:
y = all_df.loc[train_id, 'Survived'].values
y[:100]

array([0., 1., 1., 1., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 0., 1., 0.,
       1., 0., 1., 0., 1., 1., 1., 0., 1., 0., 0., 1., 0., 0., 1., 1., 0.,
       0., 0., 1., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 1., 0., 0., 0.,
       0., 1., 1., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0., 1.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 1., 1., 0., 1., 1.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0.])

In [77]:
len(y), len(train_id)

(889, 889)

In [78]:
del all_df['Survived']

### OneHot Encoding

In [79]:
x_df = pd.get_dummies(all_df)
x_df

,Pclass,Sex,Age,SibSp,Parch,Fare,cabin_count,Embarked_C,Embarked_Q,Embarked_S,...,social_status_Rev,cabin_type_99,cabin_type_A,cabin_type_B,cabin_type_C,cabin_type_D,cabin_type_E,cabin_type_F,cabin_type_G,cabin_type_T
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,3,0,22.000000,1,0,7.2500,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
2,1,1,38.000000,1,0,71.2833,1,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,3,1,26.000000,0,0,7.9250,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
4,1,1,35.000000,1,0,53.1000,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
5,3,0,35.000000,0,0,8.0500,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3,0,24.816367,0,0,8.0500,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
1306,1,1,39.000000,0,0,108.9000,1,1,0,0,...,0,0,0,0,1,0,0,0,0,0
1307,3,0,38.500000,0,0,7.2500,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
1308,3,0,24.816367,0,0,8.0500,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
1309,3,0,24.816367,1,1,22.3583,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0

In [80]:
X = x_df.values

numpy moduleë¡œ ë³€í™˜

In [81]:
X

array([[ 3.        ,  0.        , 22.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 1.        ,  1.        , 38.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 3.        ,  1.        , 26.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 3.        ,  0.        , 38.5       , ...,  0.        ,
         0.        ,  0.        ],
       [ 3.        ,  0.        , 24.81636727, ...,  0.        ,
         0.        ,  0.        ],
       [ 3.        ,  0.        , 24.81636727, ...,  0.        ,
         0.        ,  0.        ]])

In [82]:
from sklearn.preprocessing import MinMaxScaler

In [83]:
minmax_scaler = MinMaxScaler()

minmax_scaler.fit(X)
X = minmax_scaler.transform(X)

In [84]:
X

array([[1.        , 0.        , 0.27345609, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.473882  , ..., 0.        , 0.        ,
        0.        ],
       [1.        , 1.        , 0.32356257, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [1.        , 0.        , 0.48014531, ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.        , 0.30873565, ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.        , 0.30873565, ..., 0.        , 0.        ,
        0.        ]])

In [85]:
X_train = X[: len(train_id)]
X_test = X[len(train_id):]

In [86]:
len(X_train), len(y)

(889, 889)

In [87]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [88]:
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline

In [89]:
algorithmes = [LogisticRegression(), DecisionTreeClassifier()]

In [90]:
c_params = [0.1,  5.0, 7.0, 10.0, 15.0, 20.0, 100.0]


params = []
params.append([{
    "solver" : ["saga"],
    "penalty" : ["l1"],
    "C" : c_params
    },{
    "solver" : ['liblinear'],
    "penalty" : ["l2"],
    "C" : c_params
    }
    ])
params.append({
    "criterion" : ["gini", "entropy"],
    "max_depth" : [10,8,7,6,5,4,3,2],
    "min_samples_leaf": [1,2,3,4,5,6,7,8,9]})

In [91]:
params

[[{'solver': ['saga'],
   'penalty': ['l1'],
   'C': [0.1, 5.0, 7.0, 10.0, 15.0, 20.0, 100.0]},
  {'solver': ['liblinear'],
   'penalty': ['l2'],
   'C': [0.1, 5.0, 7.0, 10.0, 15.0, 20.0, 100.0]}],
 {'criterion': ['gini', 'entropy'],
  'max_depth': [10, 8, 7, 6, 5, 4, 3, 2],
  'min_samples_leaf': [1, 2, 3, 4, 5, 6, 7, 8, 9]}]

In [92]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, accuracy_score

In [93]:
scoring = ['accuracy']
estimator_results = []

for i, (estimator, params) in enumerate(zip(algorithmes,params)):
    gs_estimator = GridSearchCV(
            refit="accuracy", estimator=estimator,param_grid=params, scoring=scoring, cv=5, verbose=1, n_jobs=4)
    print(gs_estimator)

    gs_estimator.fit(X_train, y)
    estimator_results.append(gs_estimator)

GridSearchCV(cv=5, estimator=LogisticRegression(), n_jobs=4,
             param_grid=[{'C': [0.1, 5.0, 7.0, 10.0, 15.0, 20.0, 100.0],
                          'penalty': ['l1'], 'solver': ['saga']},
                         {'C': [0.1, 5.0, 7.0, 10.0, 15.0, 20.0, 100.0],
                          'penalty': ['l2'], 'solver': ['liblinear']}],
             refit='accuracy', scoring=['accuracy'], verbose=1)
Fitting 5 folds for each of 14 candidates, totalling 70 fits
GridSearchCV(cv=5, estimator=DecisionTreeClassifier(), n_jobs=4,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [10, 8, 7, 6, 5, 4, 3, 2],
                         'min_samples_leaf': [1, 2, 3, 4, 5, 6, 7, 8, 9]},
             refit='accuracy', scoring=['accuracy'], verbose=1)
Fitting 5 folds for each of 144 candidates, totalling 720 fits

### Logistic Regression

In [94]:
estimator_results[0].best_score_

0.8268075922046594

### Decision Tree

In [95]:
estimator_results[1].best_score_

0.8358154002412238

In [96]:
import pandas as pd
from pandas import DataFrame
from collections import defaultdict

In [97]:
result_df_dict = {}

result_attributes = ["model", "accuracy", "penalty", "solver", "C", "criterion", "max_depth", "min_samples_leaf"]
result_dict = defaultdict(list)

algorithm_name= ["LogisticRegression", "DecisionTreeClassifier"]

for i, estimators in enumerate(estimator_results):
    number_of_estimators = len(estimators.cv_results_["mean_fit_time"])

    for idx_estimator in range(number_of_estimators):
        result_dict["model"].append(algorithm_name[i])
        result_dict["accuracy"].append(
            estimators.cv_results_["mean_test_accuracy"][idx_estimator])
            
    for param_value in estimators.cv_results_["params"]:
        for k,v in param_value.items():
            result_dict[k].append(v)
    for attr_name in result_attributes:
        if len(result_dict[attr_name]) < len(result_dict["accuracy"]):
            result_dict[attr_name].extend([None for i in range(number_of_estimators)])

In [98]:
result_df = DataFrame(result_dict, columns=result_attributes)
result_df.sort_values("accuracy",ascending=False).head(n=100)

,model,accuracy,penalty,solver,C,criterion,max_depth,min_samples_leaf
137,DecisionTreeClassifier,0.835815,None,None,NaN,entropy,4.0,7.0
136,DecisionTreeClassifier,0.834692,None,None,NaN,entropy,4.0,6.0
135,DecisionTreeClassifier,0.834692,None,None,NaN,entropy,4.0,5.0
138,DecisionTreeClassifier,0.833556,None,None,NaN,entropy,4.0,8.0
102,DecisionTreeClassifier,0.833543,None,None,NaN,entropy,8.0,8.0
...,...,...,...,...,...,...,...,...
148,DecisionTreeClassifier,0.811052,None,None,NaN,entropy,3.0,9.0
145,DecisionTreeClassifier,0.811052,None,None,NaN,entropy,3.0,6.0
55,DecisionTreeClassifier,0.809947,None,None,NaN,gini,5.0,6.0
34,DecisionTreeClassifier,0.809941,None,None,NaN,gini,7.0,3.0
37,DecisionTreeClassifier,0.809941,None,None,NaN,gini,7.0,6.0

ì•„ë˜ì˜ ê°’ì´ í¬ë©´ í´ìˆ˜ë¡ ì¤‘ìš”í•œ ë³€ìˆ˜

In [99]:
estimator_results[1].best_estimator_.feature_importances_

array([0.13376524, 0.06257368, 0.08742618, 0.        , 0.        ,
       0.18883257, 0.01350244, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.5138999 , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        ])

ìœ„ì˜ ê°’ ì¤‘ ê°€ì¥ í° ê°’ì˜ ìœ„ì¹˜ë¥¼ ì•„ë˜ì™€ ë¹„êµí•´ë´ì„œ ê°€ì¥ ì¤‘ìš”í•œ ë³€ìˆ˜ë¥¼ ì°¾ì„ ìˆ˜ ìˆë‹¤

In [100]:
x_df.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'cabin_count',
       'Embarked_C', 'Embarked_Q', 'Embarked_S', 'social_status_0',
       'social_status_Col', 'social_status_Dr', 'social_status_Master',
       'social_status_Miss', 'social_status_Mr', 'social_status_Mrs',
       'social_status_Rev', 'cabin_type_99', 'cabin_type_A', 'cabin_type_B',
       'cabin_type_C', 'cabin_type_D', 'cabin_type_E', 'cabin_type_F',
       'cabin_type_G', 'cabin_type_T'],
      dtype='object')

coef_ ê°’ì´ í¬ë©´ í´ìˆ˜ë¡ yê°’ì— ì˜í–¥ì„ ë§ì´ ì¤¬ë‹¤

In [101]:
estimator_results[0].best_estimator_.coef_

array([[-1.73402054,  2.24871446, -2.19185189, -3.65078913, -2.41066595,
         1.27767698, -0.45084813,  0.50596031,  0.3479653 ,  0.07057545,
        -0.60628342,  0.33768237, -0.06522341,  2.50565425,  0.07097906,
        -0.57552063,  0.75801615, -1.50080331, -0.41747774,  0.16045468,
         0.32518844, -0.10809992,  0.84396809,  1.13125029,  0.53153586,
        -0.73318799, -0.80913065]])

Decision Treeì˜ ì¥ì  ì¤‘ í•˜ë‚˜ëŠ” pydotì„ ì‚¬ìš©í•˜ì—¬ ê²°ì • íŠ¸ë¦¬ë¥¼ ì¶œë ¥

In [102]:
best_tree = estimator_results[1].best_estimator_
column_names=  pd.get_dummies(all_df).columns

In [103]:
column_names

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'cabin_count',
       'Embarked_C', 'Embarked_Q', 'Embarked_S', 'social_status_0',
       'social_status_Col', 'social_status_Dr', 'social_status_Master',
       'social_status_Miss', 'social_status_Mr', 'social_status_Mrs',
       'social_status_Rev', 'cabin_type_99', 'cabin_type_A', 'cabin_type_B',
       'cabin_type_C', 'cabin_type_D', 'cabin_type_E', 'cabin_type_F',
       'cabin_type_G', 'cabin_type_T'],
      dtype='object')

In [1]:
import pydotplus
from sklearn.externals.six import StringIO
from sklearn import tree

ModuleNotFoundError: No module named 'sklearn.externals.six'

In [ ]:
dot_data = StringIO()
tree.export_graphviz(best_tree, out_file=dot_data, feature_names=column_names) 

graph = pydotplus.pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png("titanic.png")
from IPython.core.display import Image 
Image(filename='titanic.png')

In [ ]:
len(test_id), len(best_tree.predict(X_test))

In [ ]:
test_id.dtype ='int'

In [ ]:
clf = estimator_results[0].best_estimator_

result = np.concatenate( (test_id.reshape(-1,1), clf.predict(X_test).reshape(-1,1)), axis =1)

df_submission = pd.DataFrame(result, columns = ['PassengerId','Survived'], dtype = int)
df_submission.head()

In [ ]:
df_submission.to_csv('submission_result.csv', index = False)

In [ ]:
#!pip install kaggle
#!kaggle competitions submit -c titanic -f submission_result.csv -m "My submission message"

## 7ï¸âƒ£ Splitting continous attribute
ì—°ì†ì ì¸ ê°’ì„ ê°€ì§€ëŠ” Attributeë¥¼ ê¸°ì¤€ìœ¼ë¡œ branch

### Continuous Attribute ë‚˜ëˆ„ê¸°
- ë¶ˆì—°ì†ì  ëª…ëª© ë°ì´í„°ì— ë¹„í•´ ë‚˜ëˆŒ ìˆ˜ ìˆëŠ” êµ¬ê°„ì´ ë§ìŒ  
Ex) 1 ~ 100

1) ì „ì²´ ë°ì´í„°ë¥¼ ëª¨ë‘ ê¸°ì¤€ì ìœ¼ë¡œ í•œë‹¤  

2) ì£¼ìš°ì´ê°’, 4ë¶„ìœ„ìˆ˜ë“¤ì„ ê¸°ì¤€ì ìœ¼ë¡œ í•œë‹¤ (binning)  

3) <span style = 'color : red'>Y-class ê°’ì´ ë°”ë€ŒëŠ” ìˆ˜ë¥¼ ê¸°ì¤€ì ìœ¼ë¡œ í•œë‹¤ </span>

- split í•  dataë¥¼ Sorting ì‹œí‚¨ë‹¤
- Y-class ë°ì´í„°ê°€ ë³€ê²½ë˜ëŠ” ë¶€ë¶„ ì°¾ê¸°
- êµ¬ê°„ë³„ ê²½ê³„ í‰ê· ê°’ìœ¼ë¡œ ê¸°ì¤€ ì¡ê¸°
- êµ¬ê°„ë³„ ê²½ê³„ ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ Entropy or Gini ì‚°ì¶œ
##### $ Gain(elec_a) = Info(D) - Info_a(D) $
$ Gain(elec_a) $ ë³´ë‹¤ í° ê°’, ì‘ì€ ê°’ìœ¼ë¡œ êµ¬ê°„ ë‚˜ëˆ„ê¸°

ex) a = 750, 1350, 2250, 4175ì¼ ë•Œ 

ì´ 4ê°€ì§€ì˜ Gain ì¤‘ ê°€ì¥ í° ê°’ì„ Attribute elecì˜ ê¸°ì¤€ìœ¼ë¡œ ì‚¼ëŠ”ë‹¤.

$Max(Gain(elec))$

In [2]:
import numpy as np
import pandas as pd

In [19]:
pd_data = pd.read_csv('https://raw.githubusercontent.com/TeamLab/machine_learning_from_scratch_with_python/master/code/ch12/vegeterianl_dataset.csv',delimiter=r"\s+")
pd_data.drop("ID",axis=1)
pd_data

   ID  STREAM     SLOPE  ELEVATION VEGETATION
0   1   False     steep       3900  chapparal
1   2    True  moderate        300   riparian
2   3    True     steep       1500   riparian
3   4   False     steep       1200  chapparal
4   5   False      flat       4450    conifer
5   6    True     steep       5000    conifer
6   7    True     steep       3000  chapparal

### Sorting
: ELEVATION ê¸°ì¤€

In [6]:
pd_data.sort_values('ELEVATION')

   ID  STREAM     SLOPE  ELEVATION VEGETATION
1   2    True  moderate        300   riparian
3   4   False     steep       1200  chapparal
2   3    True     steep       1500   riparian
6   7    True     steep       3000  chapparal
0   1   False     steep       3900  chapparal
4   5   False      flat       4450    conifer
5   6    True     steep       5000    conifer

In [7]:
def get_info(df):
    riparian = df.loc[df['VEGETATION'] == 'riparian']
    chapparal = df.loc[df['VEGETATION'] == 'chapparal']
    conifer = df.loc[df['VEGETATION'] == 'conifer']

    x = np.array([len(riparian) / len(df), len(chapparal) / len(df), len(conifer) / len(df)])
    y = np.log2(x[x!=0])

    info_all = -sum(x[x!=0] * y)
    return info_all

In [8]:
get_info(pd_data)

1.5566567074628228

In [9]:
def get_attribute_info(df, attribute_name, continuous_value = 0 ):
    get_infos = []

    if continuous_value == 0 :
        attribute_values = pd_data[attribute_name].unique()

        for value in attribute_values:
            split_df = pd_data.loc[pd_data[attribute_name] == value]
            get_infos.append( (len(split_df) / len(df)) * get_info(split_df))
    
    else:
        split_df_1 = pd_data.loc[pd_data[attribute_name] >= continuous_value ]
        split_df_2 = pd_data.loc[pd_data[attribute_name] < continuous_value ]

        get_infos.append( (len(split_df_1) / len(df)) * get_info(split_df_1))
        get_infos.append( (len(split_df_2) / len(df)) * get_info(split_df_2))

    return sum(get_infos)

In [10]:
def get_continuos_attribute_info(df, attribute_name):

    result = pd_data.sort_values(attribute_name)

    prior = 0 
    split_index = []
    sorted_key = {}
    sorted_index = {}

    # indexë¥¼ ê¸°ì¤€, ê°’ì´ ë°”ë€ŒëŠ” index ì°¾ê¸° 
    for index, value in enumerate(result.index):

        # index ì´ì „, ì´í›„ì˜ VEGETATION
        if prior != result["VEGETATION"][value]:
            split_index.append(value)
            prior = result["VEGETATION"][value]

        sorted_index[value] = index
        sorted_key[index] = value

    split_value = []

    for v in split_index[1:]:

        current_value = result[attribute_name][v]

        prior_value_index = sorted_key[sorted_index[v] - 1]

        prior_value = result[attribute_name][prior_value_index]
        
        split_value_average = current_value + prior_value
        # í‰ê· 
        split_value.append(split_value_average/2)

    result = {}

    for value in split_value:
        
        result[value] = (get_attribute_info(df, attribute_name, value))

    return result

### ê° Entropy êµ¬í•˜ê¸°

In [11]:
get_continuos_attribute_info(pd_data, "ELEVATION")

{750.0: 1.250698214594781,
 1350.0: 1.3728057820624016,
 2250.0: 0.9649839288804954,
 4175.0: 0.6935361388961918}

Entropyê°€ ì‘ì€ ê°’ ì„ íƒ $\Rightarrow$ Information Gain $\uparrow$

ì „ì²´ Entropy

In [12]:
get_info(pd_data)

1.5566567074628228

#### $Max(Gain(elec))$

In [13]:
for key, value in get_continuos_attribute_info(pd_data, 'ELEVATION').items():
    print(key, ':', get_info(pd_data) - value)

750.0 : 0.3059584928680419
1350.0 : 0.18385092540042125
2250.0 : 0.5916727785823274
4175.0 : 0.863120568566631

4175.0 : 0.863120568566631ì´ ê° Attributeì˜ Information Gain ì¤‘ ê°€ì¥ í¼  
$\Rightarrow$ 4175ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚˜ëˆ„ëŠ” ê²ƒì´ ì¢‹ìŒ

In [14]:
get_info(pd_data) - get_attribute_info(pd_data, 'STREAM')

0.30595849286804166

In [15]:
get_info(pd_data) - get_attribute_info(pd_data, 'SLOPE')

0.5774062828523452

### Continuous attribute branch íŠ¹ì§•
- ëª…ëª©ì†ì„±ê³¼ ë‹¬ë¦¬, ì—¬ëŸ¬ë²ˆ ì¬ì‚¬ìš© ê°€ëŠ¥ 
    ëª…ëª©ì†ì„± : Category Data

    Ex) 4175ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë¨¼ì € ë‚˜ëˆ„ì—ˆì§€ë§Œ ë‚˜ë¨¸ì§€ëŠ” ì•„ì§ ì‚¬ìš© X  
    => ë‚˜ë¨¸ì§€ê°’ì„ ê°€ì§€ê³  branch ê°€ëŠ¥  
    
    ë‹¨, ê²½ê³„ê°’ì€ ë‹¬ë¼ì•¼ í•¨

- ì—°ì†ê°’ê³¼ ëª…ëª©ê°’ì„ ë™ì‹œì— split ê°€ëŠ¥

    ì„±ëŠ¥ìƒ ì¢‹ê³  ë‚˜ì¨ì€ ë°ì´í„°ì— ë”°ë¼ ë‹¤ë¦„

## 8ï¸âƒ£ Regression Tree

### Decision Treeë¡œ Regression ë¬¸ì œ í’€ê¸°

- Yì˜ ê°’ì´ continuousì¼ ê²½ìš°

1) Split measureì˜ ë³€í™”

    : entropy Or Gini -> variance (ë¶„ì‚°)

2) ê²°ê³¼ ë…¸ë“œì˜ ì„ íƒ

    : class -> í•´ë‹¹ instancesì˜ Yí‰ê· 

3) ë‚˜ë¨¸ì§„ ë‹¤ ê°™ìŒ

![reg](./img/reg.PNG)

### Splitting branch measure

#### $ var(D) = \frac{ \sum_{i=1}^n (y^{(i)} - \bar{y})^2 }{n-1} $
####  where $ \bar{y} = \frac{ \sum_{i=1}^n y^{(i)} }{n} $

##### $ data[best] = argmin_{ attr \in data } \sum_{l \in levels(attr)} \frac{\vert D_{attr = l} \vert}{\vert D \vert} * var(D_{attr = l})$

### Branch ë§Œë“¤ê¸°
ì‹¤ì œë¡œ CARTëŠ” Binary splittingì„ ì‹¤í–‰

In [21]:
pd_data = pd.read_csv('https://raw.githubusercontent.com/TeamLab/machine_learning_from_scratch_with_python/master/code/ch12/rental_price.csv',delimiter=r"\s+")
pd_data

    ID  SEASON  WORK_DAY  RENTALS
0    1  winter     False      800
1    2  winter     False      826
2    3  winter      True      900
3    4  spring     False     2100
4    5  spring      True     4740
5    6  spring      True     4900
6    8  summer      True     3000
7    9  summer      True     5800
8   10  autumn     False     6200
9   11  autumn     False     2910
10  12  autumn      True     2880
11   7  summer     False     2820

In [22]:
def get_var(df):
    mean_value = df['RENTALS'].mean()
    number_of_value = len(df['RENTALS'])
    return sum( (df['RENTALS'] - mean_value) ** 2 ) / (number_of_value -1)

In [23]:
get_var(pd_data)

3569590.424242425

### Attribute variance êµ¬í•˜ëŠ” í•¨ìˆ˜

In [25]:
def get_attribute_weighted_var(df, attribute_name):
    levels = df[attribute_name].unique()
    sum_of_weighted_variance = []

    for level in levels:
        split_df = df.loc[df[attribute_name] == level]
        sum_of_weighted_variance.append(
            (len(split_df) / len(df)) * get_var(split_df))
    
    return sum(sum_of_weighted_variance)

In [26]:
get_attribute_weighted_var(pd_data, 'SEASON')

2227148.0

In [27]:
get_attribute_weighted_var(pd_data, 'WORK_DAY')

3567498.6666666665

Overfittingì´ ì‹¬í•˜ê²Œ ë°œìƒí•  ìˆ˜ë„ ìˆìœ¼ë¯€ë¡œ depthë¼ë˜ì§€ parameter ì„¤ì • ì¤‘ìš”